.text{
	color:#00CED1;
}

input[name=min_price]{
	width: 8em;
	margin-right:2em;
}

input[name=max_price]{
	width: 8em;
}

#validate_msg{
	color: red;
	float: left;
	margin-left: 1em;
	margin-bottom: 2em;
}