/* CSS for general style settings */
html, body, div, img, span, p, a {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; 
}

html, body, div, img { position: relative; }
div, img { display: block; }
textarea { resize: none !important; }

hr {
    border: none;
    clear: both;
    height: 1px;
    background-color: #ccc;
}

body {
/*
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;*/
    font-family: \5FAE\8F6F\96C5\9ED1, sans-serif !important;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}

.ui-page { padding-bottom: 0px !important; }
.ui-content { margin-bottom: 50px; overflow: hidden;}

.header.ui-header {
    z-index: 100;
    height: 50px;
    padding: 0;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    font-weight: normal;
    color: white;
    border-width: 0;
    box-shadow: 0 0 6px #444;
    background-color: #24c598;
}

.footer.ui-footer {
    z-index: 100;
    bottom: 0;
    /*position: fixed;
    bottom: 50px;*/
    width: 100%;elete
    padding: 0;
    border-width: 0;
    box-shadow: 0 0 6px #444;
    background-color: #24c598;
}

.footer.ui-footer.bottom {
    position: relative;
    top: 0;
}

.wrapper { 
    /**/
    width: 100%; height: 100%;
    /*/
    width: 320px; height: 505px; 
    /**/
}

/* CSS for signup page */
 #bkgd {
    margin:0;
    padding:0;
    background: url(https://s3-us-west-2.amazonaws.com/beike-s3/static/img/01/green_bkgd.png) center center fixed no-repeat;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
}
#logo {
    margin-top: 3em;
    margin-left: 5em;
}
.signup-outer {
    width: 100%;
    text-align: center;
}
.signup-inner {
    display: inline-block;
}


/* CSS for mine */
.mine-menu-icon {
    display: inline;
    width: 40px;
    height: 40px;
    vertical-align: middle; 
}



/* CSS for index page */
#main {height: 100% !important;}

div.main-top { height: 54%; }

div.main-top-background {
    width: 100%;
    height: 100%;
    background-image: url("http://54.204.4.250/static/images/homepage/background.png");
    background-size: 16px;
    background-repeat: repeat;
}

img.main-top-logo {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    height: 35%;
    margin: auto;
}

div.main-city-box {
    position: absolute;
    right: 20px;
    top: -6px;
    min-width: 70px;
    padding: 11px 10px 6px 9px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 0 6px #333;
    text-align: center;
}

a.main-city { text-decoration: none; color: #24c598; }

img.main-city-icon {
    display: inline;
    height: 19px;
    vertical-align: text-bottom;
    margin-right: 0px;
}

span.main-city-text {
    font-size: 14px;
    color: #24c498;
}

div.main-bottom {
    background-color: #d5e8d9;
    padding: 14px 10px 17px;
    width: 100%;
    height: 46%;
    box-sizing: border-box;
    overflow: hidden;
}

div.main-button-box {
    max-height: 50%;
    height: 50%;
    width: 33%;
    padding: 0px;
    box-sizing: border-box;
    float: left;
}

.main-button {
    display: block;
    height: 100%;
    margin: 0 auto;
    padding: 4px;
    box-sizing: border-box;
}


/* CSS for buypost creation page */
#phone_number_div {
    display: none;
}
#email_div {
    display: none;
}

/* CSS for buy/sell posts */
.post-list1, .post-list2 {
    width: 50%;
    padding: 4px;
    float: left;
    box-sizing: border-box;
}

.post-list1 {padding-right: 0;}
.post-list2 {padding-left: 0;}

div.post-item-box {
    width: 100%;
    box-sizing: border-box;
    padding: 4px;
}

a.post-item {
    display: block;
    position: relative;
    width: 100%;
    /*height: 90px;*/
    box-sizing: border-box;
    padding: 10px;
    border-radius: 8px;
    background: #fcfcfc;
    border: 1px solid #ccc;
    text-decoration: none;
    box-shadow: 1px 1px 2px #ddd;
    cursor: pointer;
}
a.post-item:hover { background: #f9f9f9; }
a.post-item:active {
    border-color: #ccc;
    top: 1px;
    left: 1px;
    box-shadow: none;
}

img.post-icon {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 7px;
    vertical-align: text-bottom;
    float: left;
}
span.post-title {
    display: block;
    font-size: 18px;
    color: black;
    font-weight: normal;
    line-height: 21px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
img.post-image {
    width: 100%;
    margin: 7px 0 0;
}
div.post-price {
    color: #666;
    margin-top: 7px;
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;
}
span.post-currency {
    color: #ff9933;
    font-size: 16px;
}
div.post-distance {
    color: #aaa;
    margin-top: 5px;
    font-size: 12px;
    font-weight: normal;
}
img.post-load-more {
    vertical-align: middle;
    width: 50px;
    margin: 0 auto;
}

/* CSS for search */
div.search-bar-wrapper {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}
    
div.search-category-box {
    z-index: 10;
    position: absolute;
    left: 0; right: 0;
    height: auto;
    overflow: hidden;
    padding: 5px 5px 0px;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: bottom .5s;
    transition: bottom .5s;
}
div.search-category-box.search-category {
    bottom: -200px;
}

    
div.search-bar {
    z-index: 20;
    width: 300%;
    height: 49px;
    background-color: white;
    left: -100%;
    -webkit-transition: left .5s;
    transition: left .5s;
}
div.search-bar.search-keyword { left: 0%; }
div.search-bar.search-location { left: -200%; }


div.search-item {
    width: 11.1%;
    height: 50px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    float: left;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

div.search-item:nth-child(3) {
    border-bottom: none;
}

div.search-keyword-box {
    width: 33.4%;
    height: 100%;
    float: left;
}
div.search-input {
    height: 100%;
    padding: 0 10px;
    float: none;
    overflow: hidden;
}
div.search-keyword-back {
    float: right;
    width: 50px;
    height: 100%;
    padding: 10px 18px 13px 5px;
    box-sizing: border-box;
}
img.search-icon {height: 27px; cursor: pointer;}
div.search-location-box {
    width: 33.3%;
    height: 100%;
    float: left;
}
div.search-location-back {
    float: left;
    width: 50px;
    height: 100%;
    padding: 10px 0 10px 20px;
    box-sizing: border-box;
}


/* CSS for buy/sell forms */
.form-left {
    width: 70px;
    height: 50px;
    line-height: 50px;
    float: left;
    font-size: 16px;
    clear: both;
    color: #24c598;
    /*text-align: right;*/
}
.form-right {
    min-height: 50px;
    position: relative;
    overflow: hidden;
    float: none;
    padding: 0 10px;
    box-sizing: border-box;
}

img.form-icon {
    margin: 5px auto 0;
    width: 40px;
    cursor: pointer;
}
img.form-icon.hide { display: none; }


    /* need to clean up the following */ 
label.error {
    display: block;
    color: red;
    font-size: 14px;
    line-height: 1.4;
    padding-top: .5em;
    vertical-align: top;
    font-weight: bold;
    width: 200px;
    float: left;
}

.readonly {
    border: none;
    background-color: transparent;
    padding: 15px 0 15px 0;
}

#category-button.ui-btn {
    height: 2.2em;
    line-height: 2.1em;
    -webkit-border-radius: .6em;
    border-radius: .6em;
    background-color: #fff;
    text-shadow: 0 1px 0 #f3f3f3;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
    border: 1px solid #dddddd;
    text-align: left;
    font-weight: normal;
    padding: 1px 35px 0 6px;
}

.form-button.ui-btn {
    height: 2.1em;
    line-height: 2.1em;
    -webkit-border-radius: .6em;
    border-radius: .6em;
    padding: 0;
    color: #24c598 !important; 
}

#email_div, #phone_number_div {
    clear: both;
}

#lengthCounter {
    float: right;
    color: #24c598; 
    line-height: 50px;
    font-size: 14px;
}

#description {
    padding: 8px;
    min-height: 70px;
}

#submit_btn {
    display: block;
    width: 120px;
    height: auto;
    margin: 30px auto;
}

/* CSS for post details*/
div.detail-title-wrapper { margin-bottom: 12px; }

img.detail-icon {
    display: block;
    width: 35px;
    height: 35px;
    margin: 2px 7px 0 0;
    float: left;
}
div.detail-title {
    display: inline;
    font-size: 20px;
    color: black;
    font-weight: normal;
    line-height: 40px;
    /*text-overflow: ellipsis;
    white-space: nowrap;*/
    /*overflow: hidden;*/
    /*float: none;*/
}

div.share-button-wrapper {
    display: block;
    width: 82px;
    height: 26px;
    padding: 7px;
    float: right;
}
img.share-button {
    display: block;
    height: 26px;
    width: 26px;
    float: left;
    /*border: 1px solid #ddd;
    border-radius: 5px;
    /*padding: 7px;*/
    margin-left: 15px;
    cursor: pointer;
}

span.detail-postdate {
    color: #aaa;
    font-size: 16px;
}
div.detail-category {
    float: right;
    color: #24c498;
    font-size: 16px;
}
div.detail-price-wrapper {
    margin-top: 1px;
    color: #666;
    font-size: 20px;
    line-height: 20px;
    font-weight: normal;
    float: left;
}
span.detail-currency {
    display: inline-block;
    color: #ff9933;
    font-size: 20px;
    width: 10px;
}
span.detail-price {}

div.detail-content {
    clear: both;
    color: #333;
    font-size: 16px;
    padding: 20px;
    line-height: 24px;
    /*text-indent: 2em;*/
}

a.detail-map-box {
    display: block;
    position: relative;
    height: 200px;
    max-width: 640px;
    margin: 0 auto;
    color: #24c498;
    overflow: hidden;
}
a.detail-map-box:hover { color: #24c498; }
div.detail-loc {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    background-color: rgba(255,255,255,0.8);
    color: #24c498;
}
img.detail-map {
    position: absolute;
    width: 640px;
    height: 200px;
    left: 50%;
    margin-left: -320px;
}

div.detail-contacts {
    height: 50px;
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

a.detail-contact-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 5%;
}

#email-button.ui-btn {
    background: #24c598;
    width: 50px;
    height: 50px;
    border: none;
    padding: 0;
    margin: 0 5%;
    box-shadow: none;
    border-radius: 25px;
    line-height: 50px;
    color: white;
    font-weight: normal;
}

img.detail-contact-icon {
    width: 50px;
    height: 50px;
}

/* CSS for image uploader */
.gallery-wrapper {
    clear: both;
    width: 100%;
    padding-bottom: 90.5%;
    margin-bottom: 10px;
}
.gallery-wrapper.gallery-no-thumbnails { padding-bottom: 75%; }

.gallery {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.gallery-list {
    width: 500%;
    height: 83%;
    overflow: hidden;
}
.gallery-no-thumbnails .gallery-list { height: 100%; }
.gallery-image-box {
    width: 20%;
    height: 100%;
    float: left;
    overflow: hidden;
    background-color: #eee;
}
.gallery-image {
    display: block;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    margin: auto;
    left: 0; right: 0;
    top: 0; bottom: 0;
}

.gallery-thumbnail-list {
    clear: both;
    width: 101%;
    height: 16%;
    margin-top: .8%;
}
.gallery-no-thumbnails .gallery-thumbnail-list { height: 0; }
.gallery-thumbnail-box {
    float: left;
    width: 19%;
    height: 99%;
    overflow: hidden;
    /*background-color: #eee;*/
    border: 1px solid #ddd;
    box-sizing: border-box;
    margin-right: 1%;
    cursor: pointer;
}
.gallery-thumbnail-box.selected {
    border: 1px solid #24c598;
}
.gallery-thumbnail {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    left: 0; right: 0;
    top: 0; bottom: 0;
}

.gallery-uploader {
    background-image: url("http://54.204.4.250/static/images/sell_post/upload.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer; /* not working */
}
.gallery-thumbnail-box.gallery-uploader { background-size: 70%; }
input.gallery-uploader-input {
    width: 100%; 
    height: 100%;
    opacity: 0;
}
.gallery-image-box.gallery-uploader { display: none; }
.gallery-image-box.gallery-uploader:only-child { display: block; }
.gallery-thumbnail-box.gallery-uploader { display: none; float: right; }
.gallery-thumbnail-box.gallery-uploader:nth-last-child(n+2):nth-last-child(-n+5) { display: block; }

.gallery-delete {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 70px;
    height: 70px;
    background-color: #24c598;
    -webkit-border-bottom-left-radius: 70px;
    -moz-border-radius-bottomleft: 70px;
    border-bottom-left-radius: 70px;
    box-shadow: 0 0 10px #666;
    cursor: pointer;
    color: white;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
}
.gallery-delete:active {
    right: 0px;
    top: 0px;
    box-shadow: 0 0 5px #333;
}
.gallery-progressbar {
    width: 0;
    position: absolute;
    top: 0; left: 0;
    height: 5px;
    background-color: #24c598
}



/*.ui-btn, .ui-input-text { border-radius: 0px !important; }*/
.footer-left {float: left; width: 50px; height: 50px; /*background-color: pink;*/}
.footer-right {float: none; overflow: hidden; height: 50px;}
.footer-item {float: left; width: 25%; height: 50px;}
.footer-link {display: block; height: 50px; width: 50px; margin: 0 auto; text-decoration: none; }
.footer-icon {width: 20px; height: 20px; margin: 6px auto 1px;}
.footer-text {margin: 0 auto; width: 50px; color: #009966; font-size: 12px; line-height: 23px; text-align: center; }
.footer-text._clicked {color: white; font-weight: normal;}

div.user-image-box { 
    width: 80px; 
    height: 80px;
    margin: 0 auto; 
    border-radius: 50%;
    border: 1px solid #bbb;
}
img.user-image { width: 80px; height: 80px; border-radius: 50%; }
div.user-name { margin: 15px auto; text-align: center; font-size: 16pt;}
div.user-description {
    clear: both;
    color: #333;
    font-size: 16px;
    padding: 15px;
    line-height: 24px;
}

div.user-reg-date {
    clear: both;
    margin: 15px 0 20px;
    color: #888;
    text-align:center;
}

div.user-complete {
    clear:both;
    margin: 0 -15px 20px 0;
    float: right;
}

div.detail-edit-box {
    width: 100%;
    margin: 0 -14px -14px -14px;
    padding: 15px;
    background-color: #ddd;
}
a.detail-edit-button {
    display: block;
    width: 80px;
    height: auto;
    margin: 30px auto;
}
