<!DOCTYPE HTML>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <!-- jquery library -->
    <script type="text/javascript" src="/static/jquery/jquery-1.8.3.js "></script>
    <script type="text/javascript" src="/static/jquery/jquery.mobile-1.4.2.js"></script>
    <script type="text/javascript" src="/static/jquery/jquery.validate.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/jquery/jquery.mobile-1.4.2.css">
    <link rel="stylesheet" type="text/css" href="/static/jquery/beike-themes/beike-theme.css">
    <link rel="stylesheet" type="text/css" href="/static/jquery/beike-themes/jquery.mobile.icons.min.css">


    <!--js library for s3 upload-->
    <script type="text/javascript" src="/static/s3upload.js"></script>
    <script type="text/javascript" src="/static/exif.js"></script>
    <script type="text/javascript" src="/static/binaryajax.js"></script>

    <!-- beike customized css and js -->
    <link rel="stylesheet" href="/static/common.css">
    <link rel="stylesheet" href="/static/detail.css">
    <link rel="stylesheet" href="/static/sell.css">
    <link rel="stylesheet" href="/static/mine.css">
    <script src="/static/buy.js"></script>
    <script src="/static/sell.js"></script>
    <script src="/static/common.js"></script>
    <script src="/static/jquery.touchSwipe.min.js"></script>
</head>

<body>
    <div data-role="page" id="sellpost-form" data-theme="a" data-fullscreen="true">
        <div data-role="header" data-position="fixed">
            <div style="background-color: rgb(35,192,148);">
                <div class="ui-grid-b">
                    <div class="ui-block-a">
                    </div>
                    <div class="ui-block-b">
                        <p style="text-align:center; color:white">我要卖</p>
                    </div>
                    <div class="ui-block-a">
                    </div>
                </div>
            </div>
        </div>
        <div data-role="content">
            <div class="ui-grid-solo" id="image-uploader" style="max-width: 600px; height: 320px">
                <div class="ui-grid-solo" style="width: 100%; height: 260px; background-color:grey;">
                    <div id="current_image" style="background-repeat: no-repeat;">
                        <img style="display: none" id="delete_icon" width="30px" height="30px" src="/static/images/sell_post/delete-icon.png" onclick="deleteCurrentImage()" />
                        <p id="upload_status"></p>
                    </div>
                </div>

                <div id="image_thumbnails_div" class="ui-grid-c" style="width: 100%; max-width: 300px; height: 60px;">
                    <div class="ui-block-a" style="width: 25%;">
                        <label for="post_image">
                            <img src='/static/images/sell_post/upload.png' style="width: 100%; height: 100%;">
                        </label>
                        <input style="display:none;" type="file" id="post_image" name="post_image" accept="image/*" onchange="image_s3_upload(this.id,'{{user_id}}');" onclick="return moreImagesAllowed();" />
                    </div>


                    <div class="ui-block-b" style="width: 25%;">
                        <img style="width: 100%; height: 100%" id="preview0" onclick="displayImage(0)">
                    </div>
                    <div class="ui-block-c" style="width: 25%;">
                        <img style="width: 100%; height: 100%" id="preview1" onclick="displayImage(1)">
                    </div>
                    <div class="ui-block-d" style="width: 25%;">
                        <img style="width: 100%; height: 100%" id="preview2" onclick="displayImage(2)">
                    </div>
                </div>
            </div>

            <form action="/sell/form_submit/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" id="image_url0" name="image_url0" />
                <input type="hidden" id="image_width0" name="image_width0" />
                <input type="hidden" id="image_height0" name="image_height0" />

                <input type="hidden" id="image_url1" name="image_url1" />
                <input type="hidden" id="image_width1" name="image_width1" />
                <input type="hidden" id="image_height1" name="image_height1" />

                <input type="hidden" id="image_url2" name="image_url2" />
                <input type="hidden" id="image_width2" name="image_width2" />
                <input type="hidden" id="image_height2" name="image_height2" />

                <input type="hidden" id="image_orientation0" name="image_orientation0" />
                <input type="hidden" id="image_orientation1" name="image_orientation1" />
                <input type="hidden" id="image_orientation2" name="image_orientation2" />


                <div class="ui-grid-a">
                    <div class="ui-block-a" style="width:20%;">
                        <div class="field-label-inner-div">标题</div>
                    </div>
                    <div class="ui-block-b" style="width:80%">
                        <input type="text" name="title" id="title" placeholder="请输入标题" data-rule-required="true" data-rule-content="true" data-msg-required="请输入标题" />
                    </div>
                </div>

                <div class="ui-grid-a">
                    <div class="ui-block-a" style="width:20%;">
                        <div class="field-label-inner-div">类别</div>
                    </div>
                    <div class="ui-block-b" style="width:80%;">
                        <select name='category' id="category">
                            {% for category in categories %}
                            <option value={{ category.id }}>{{category.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>


                <div class="ui-grid-a">
                    <div class="ui-block-a" style="width:20%;">
                        <div class="field-label-inner-div">价格</div>
                    </div>
                    <div class="ui-block-b" style="width:80%;">
                        <input type="number" name="price" placeholder="请标价" data-rule-required="true" data-rule-content="true" data-msg-required="请输入价格">
                    </div>
                </div>


                <div class="ui-grid-solo ui-corner-all">
                    <div style="position: relative; margin: 5px 30px 30px 10px">
                        <div class="slider-scale-common slider-scale-div1">全新</div>
                        <div class="slider-scale-common slider-scale-div2">九成新</div>
                        <div class="slider-scale-common slider-scale-div3">七成新</div>
                        <div class="slider-scale-common slider-scale-div4">五成新</div>
                        <div class="slider-scale-common slider-scale-div5">旧</div>
                    </div>
                    <input data-highlight="true" type="range" name="condition-slider" id="condition-slider" value="0" min="0" max="4" step="1" />
                    <input type="hidden" id="my_condition" name="my_condition" value=0>
                </div>

                <div class="ui-grid-solo">
                    <div class="ui-block-a">
                        <div class="field-label-inner-div">详细描述</div>
                        <textarea name="content" placeholder="描述颜色、大小、形状、新旧等需求" data-rule-required="true" data-rule-content="true" data-msg-required="请输入详细描述"></textarea>
                    </div>
                </div>

                <div>
                    <input type="hidden" name="latitude" id="latitude"></input>
                    <input type="hidden" name="longitude" id="longitude"></input>
                </div>

                <div class="ui-grid-a">
                    <div class="ui-block-a" style="width:20%;">
                        <div id="prefer-contact" class="field-label-inner-div">联系方式</div>
                    </div>
                    <div class="ui-block-b" style="width:80%;">

                        <div class="ui-grid-b">
                            <div class="ui-block-a">
                                <img style="display:block;" id="email-icon" onclick="clickEmailContact();" src="/static/images/general/email_icon.png" />
                                <img style="display:none;" id="email-icon-clicked" onclick="clickEmailContact();" src="/static/images/general/email_icon_clicked.png" />
                            </div>
                            <div class="ui-block-b">
                                <img style="display:block;" id="phone-icon" onclick="clickPhoneContact();" src="/static/images/general/phone_icon.png" />
                                <img style="display:none;" id="phone-icon-clicked" onclick="clickPhoneContact();" src="/static/images/general/phone_icon_clicked.png" />
                            </div>
                            <div class="ui-block-c">
                                <img style="display:block;" id="sms-icon" onclick="clickSmsContact();" src="/static/images/general/sms_icon.png" />
                                <img style="display:none;" id="sms-icon-clicked" onclick="clickSmsContact();" src="/static/images/general/sms_icon_clicked.png" />
                            </div>
                        </div>

                        <!--Use ui-grid-a because I cannot resolve the jquery validation css issue-->
                        <!--error message was always displayed inside the next input-->
                        <!--TO-DO: fix this issue and use just a single div-->
                        <input type="hidden" name="sms-checked" id="sms-checked" value="off"></input>
                        <input type="hidden" name="phone-checked" id="phone-checked" value="off"></input>
                        <input type="hidden" name="email-checked" id="email-checked" value="off"></input>
                        <div id="phone_number_div" class="ui-grid-a">
                            <div class="ui-block-a" style="width:0"></div>
                            <div class="ui-block-b" style="width:100%">
                                {% if user.mobile_phone and user.mobile_phone != " " %}
                                <input type="text" id="phone_number" name="phone_number" placeholder="手机号码" value="{{user.mobile_phone}}" data-rule-required="true" data-rule-content="true" data-msg-required="请输入手机号码" />
                                {% else %}
                                <input type="text" id="phone_number" name="phone_number" placeholder="手机号码" data-rule-required="true" data-rule-content="true" data-msg-required="请输入手机号码" />
                                {% endif %}
                            </div>
                        </div>
                        <div id="email_div" class="ui-grid-a">
                            <div class="ui-block-a" style="width:0"></div>
                            <div class="ui-block-b" style="width:100%">
                                {% if user.email and user.email != " " %}
                                <input type="text" id="email" name="email" placeholder="Email" value="{{user.email}}" data-rule-required="true" data-rule-content="true" data-msg-required="请输入email" />{% else %}
                                <input type="text" id="email" name="email" placeholder="Email" data-rule-required="true" data-rule-content="true" data-msg-required="请输入Email" />{% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <input type="image" value="Submit" id="submit_btn" src="https://s3-us-west-2.amazonaws.com/beike-s3/static/img/03/submit.png">
                </div>

            </form>
        </div>
    </div>


    <div data-role="footer" data-position="fixed">
        <div style="background-color: rgb(35,192,148);">
            <div class="ui-grid-d">
                <div class="ui-block-a">
                    <a href="/">
                        <img height="30" width="30" style="padding:12px 5px 5px 12px;" src='/static/images/navigation/homepage_clicked.png' />
                    </a>
                </div>
                <div class="ui-block-b">
                    <a href="/buy/form/">
                        <img height="40" width="32" style="padding:5px;" src='/static/images/navigation/buy_form_clicked.png' />
                    </a>
                </div>
                <div class="ui-block-c">
                    <a href="/sell/form/">
                        <img height="40" width="32" style="padding:5px;" src='/static/images/navigation/sell_form_clicked.png' />
                    </a>
                </div>
                <div class="ui-block-d">
                    <a href="/buy/all_list/">
                        <img height="40" width="40" style="padding:5px;" src='/static/images/navigation/buy_posts_clicked.png' />
                    </a>
                </div>
                <div class="ui-block-e">
                    <a href="/sell/all_list/">
                        <img height="40" width="40" style="padding:5px;" src='/static/images/navigation/sell_posts_clicked.png' />
                    </a>
                </div>
            </div>
        </div>
    </div>

    </div>
</body>

</html>
