<!DOCTYPE HTML>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <!-- jquery library -->

    <script src="/static/jquery/jquery-1.8.3.js "></script>
    <script src="/static/jquery/jquery.mobile-1.4.2.js"></script>
    <script type="text/javascript" src="/static/jquery/jquery.validate.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/jquery/jquery.mobile-1.4.2.css">
    <link rel="stylesheet" type="text/css" href="/static/jquery/beike-themes/beike-theme.css">
    <link rel="stylesheet" type="text/css" href="/static/jquery/beike-themes/jquery.mobile.icons.min.css">

    <!--js library for s3 upload-->
    <script type="text/javascript" src="/static/s3upload.js"></script>
    <script type="text/javascript" src="/static/exif.js"></script>
    <script type="text/javascript" src="/static/binaryajax.js"></script>

    <!-- beike customized css and js -->
    <link rel="stylesheet" href="/static/common.css">
    <link rel="stylesheet" href="/static/detail.css">
    <script src="/static/buy.js"></script>
    <script src="/static/sell.js"></script>
    <script src="/static/common.js"></script>
    <script type="text/javascript" src="/static/jquery.touchSwipe.min.js"></script>
    <title>我要卖</title>
</head>

<body>
    <div data-role="page" id="main-page" data-theme="a">
        <link rel="stylesheet" type="text/css" href="/static/sell.css">
        <div id='header' data-role="header" data-position="fixed">
            <img src='/static/images/navigation/buy_form_header.png'>
        </div>
        <div data-role="content">
            <div id="current_image_div" class="ui-grid-solo" style="background-color: rgb(171,171,171);">
                <img id="current_image">
                <p id="upload_status">
            </div>
            <div id="button_and_thumbnails" class="ui-grid-solo">
                <div id="choose_file">
                    <img src='/static/images/sell_post/upload.png'>
                </div>

                <div class="hidden_file">
                    <input type="file" id="image1" data-clear-btn="false" name="image" accept="image/*" onchange="image_s3_upload(this.id,'{{user_id}}');" capture>
                </div>

                <div id="image-section">
                    <div class="img_controls">
                        <div class="delete_image_buttons" onclick="deleteImage()">
                            <p id="delete_img1">X</p>
                        </div>
                        <div class="img_previews">
                            <img id="preview1" onclick="selectImage(1)">
                        </div>
                    </div>
                

                    <div class="img_controls">
                        <div class="delete_image_buttons" onclick="deleteImage()">
                            <p id="delete_img2">X</p>
                        </div>
                        <div class="img_previews">
                            <img id="preview2" onclick="selectImage(2)">
                        </div>
                    </div>
                
                    <div class="img_controls">
                        <div class="delete_image_buttons" onclick="deleteImage()">
                            <p id="delete_img3">X</p>
                        </div>
                        <div class="img_previews">
                            <img id="preview3" onclick="selectImage(3)">
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui-grid-solo" id="down-arrow">
                <a href="#start-form" data-ajax="false"><img src="/static/images/sell_post/down_arrow.png"></a>
            </div>

            <form action="/sell/form_submit/" method="post" enctype="multipart/form-data" onsubmit="return validateForm();" name="sell-form">
                {% csrf_token %}
                <input type="hidden" id="image_url1" name="image_url1" value="">
                <input type="hidden" id="image_width1" name="image_width1" value="">
                <input type="hidden" id="image_height1" name="image_height1" value="">

                <input type="hidden" id="image_url2" name="image_url2" value="">
                <input type="hidden" id="image_width2" name="image_width2" value="">
                <input type="hidden" id="image_height2" name="image_height2" value="">

                <input type="hidden" id="image_url3" name="image_url3" value="">
                <input type="hidden" id="image_width3" name="image_width3" value="">
                <input type="hidden" id="image_height3" name="image_height3" value="">

                <input type="hidden" id="image_orientation1" name="image_orientation1" value="">
                <input type="hidden" id="image_orientation2" name="image_orientation2" value="">
                <input type="hidden" id="image_orientation3" name="image_orientation3" value="">








                <div class="ui-grid-solo ui-corner-all sell-form">
                    <div class="ui-block-a form-labels">
                        <label for="title"><a id="start-form">标题</a></label>
                    </div>
                    <div class="ui-block-b form-contents">
                        <input type="text" name="title" id="title" placeholder="请输入标题" data-rule-required="true" data-rule-content="true" data-msg-required="请输入标题" />
                    </div>
                </div>


                <div class="ui-grid-solo ui-corner-all sell-form">
                    <div class="ui-block-a form-labels">
                        <label for="category">类别</label>
                    </div>
                    <div class="ui-block-b form-contents">
                        <select name='category' id="category">
                            {% for category in categories %}
                            <option value={{ category.id }}>{{category.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="ui-grid-solo ui-corner-all sell-form">
                    <div class="ui-block-a form-labels">
                        <label>价格</label>
                    </div>
                    <div class="ui-block-b form-contents">
                        <input type="number" name="price" placeholder="请标价" data-rule-required="true" data-rule-content="true" data-msg-required="请输入价格">
                    </div>
                </div>
<!--
                <div class="ui-grid-solo ui-corner-all sell-form">
                    <div style="position: relative; margin: 5px 30px 30px 10px">
                        <div class="slider-scale-common slider-scale-div1">旧</div>
                        <div class="slider-scale-common slider-scale-div2">25%</div>
                        <div class="slider-scale-common slider-scale-div3">50%</div>
                        <div class="slider-scale-common slider-scale-div4">75%</div>
                        <div class="slider-scale-common slider-scale-div5">新</div>
                    </div>
                    <input data-highlight="true" type="range" name="condition-slider" id="condition-slider" value="5" min="0" max="4" step="1" />
                    <input type="hidden" id="my_condition" name="my_condition" value=1>
                </div>
-->
                <div class="ui-grid-solo ui-corner-all sell-form">
                    <div class="ui-block-a form-labels">
                        <label>邮编</label>
                    </div>
                    <div class="ui-block-b form-contents" style="width:40%;">
                        <input type="text" name="zipcode" id="zipcode" placeholder="zipcode">
                    </div>
                    <div class="ui-block-c form-contents" style="width:40%;padding-top:5px;">
                        <a href="" data-role="button" onclick="getLocationByZipcode(); return false;">更新</a>
                    </div>
                </div class="ui-grid-a">

                <div class="ui-grid-solo ui-corner-all sell-form">
                    <div class="ui-block-a form-labels">
                        <label>城市</label>
                    </div>
                    <div class="ui-block-b form-contents" style="margin-top:16px;">
                        <div name="city" id="city"></div>
                    </div>
                </div>

                <div class="ui-grid-solo sell-form">
                    <div class="ui-block-a form-labels" style="margin-top:30px;">
                        <label id="prefer-contact">联系我</label>
                    </div>
                    <div class="ui-block-b form-contents">
                        <div data-role="fieldcontain">
                            <fieldset data-role="controlgroup" data-type="horizontal">
                                <input type="checkbox" name="phone-checked" id="phone-checked" onchange="phoneContactChange()" />
                                <label for="phone-checked">
                                    <img src="/static/images/general/mobile.png" style="width: 30px; height: 30px" />
                                </label>
                                <input type="checkbox" name="email-checked" id="email-checked" onchange="emailContactChange()" />
                                <label for="email-checked">
                                    <img src="/static/images/general/email.png" style="width: 30px; height: 30px" />
                                </label>
                                <input type="checkbox" name="qq-checked" id="qq-checked" onchange="qqContactChange()" />
                                <label for="qq-checked">
                                    <img src="/static/images/general/weixin.jpg" style="width: 30px; height: 30px" />
                                </label>
                            </fieldset>
                        </div>

                        <!--Use ui-grid-a because I cannot resolve the jquery validation css issue-->
                        <!--error message was always displayed inside the next input-->
                        <!--TO-DO: fix this issue and use just a single div-->
                        <div id="phone_number_div" class="ui-grid-a">
                            <div class="ui-block-a" style="width:0"></div>
                            <div class="ui-block-b" style="width:100%">
                            {% if user.mobile_phone and user.mobile_phone != " " %}
                              <input type="text" id= "phone_number" name="phone_number" placeholder="手机号码" value="{{user.mobile_phone}}" data-rule-required="true" data-rule-content="true" data-msg-required="请输入电话号码" />
                            {% else %}
                              <input type="text" id= "phone_number" name="phone_number" placeholder="手机号码" data-rule-required="true" data-rule-content="true" data-msg-required="请输入手机号码" />
                            {% endif %}
                            </div>
                        </div>
                        <div id="email_div" class="ui-grid-a">
                            <div class="ui-block-a" style="width:0"></div>
                            <div class="ui-block-b" style="width:100%">
                            {% if user.email and user.email != " " %}
                              <input type="text" id="email" name="email" placeholder="Email" value="{{user.email}}" data-rule-required="true" data-rule-content="true" data-msg-required="请输入email" />
                            {% else %}
                              <input type="text" id="email" name="email" placeholder="Email" data-rule-required="true" data-rule-content="true" data-msg-required="请输入Email" />
                            {% endif %}
                            </div>
                        </div>
                        <div id="qq_number_div" class="ui-grid-a">
                            <div class="ui-block-a" style="width:0"></div>
                            <div class="ui-block-b" style="width:100%">
                            {% if user.qq_number and user.qq_number != " " %}
                              <input type="text" id="qq_number" name="qq_number" placeholder="微信或QQ号" value="{{user.qq_number}}" data-rule-required="true" data-rule-content="true" data-msg-required="请输入微信或QQ号" />
                            {% else %}
                              <input type="text" id="qq_number" name="qq_number" placeholder="微信或QQ号" data-rule-required="true" data-rule-content="true" data-msg-required="请输入微信或QQ号" />
                            {% endif %}
                            </div>
                        </div>
                        
                    </div>
                </div>

                <div class="ui-grid-solo sell-form">
                    <div class="ui-block-solo form-labels-up">
                        <div style="float:left;">我要说</div>
                        <div style="float:right;">
                            <span id="currentCount">0</span>
                            <span>/ 300</span>
                        </div>
                    </div>
                    <div class="ui-block-solo form-contents-bottom">
                        <textarea maxlength="300" name="content" style="width:100%" onkeyup="textCounter(this)" placeholder="描述颜色、大小、形状、新旧等需求" data-rule-required="true" data-rule-content="true" data-msg-required="请输入详细描述"></textarea>
                    </div>
                </div>















                <div>
                    <input type="hidden" name="latitude" id="latitude"></input>
                    <input type="hidden" name="longitude" id="longitude"></input>
                </div>

                <div class="ui-grid-solo">
                    <input type="image" value="Submit" id="submit_btn" src="https://s3-us-west-2.amazonaws.com/beike-s3/static/img/03/submit.png">
                </div>

            </form>
        </div>


        <div data-role="footer" data-position="fixed">
            <div style="background-color: #23C094;">
                <div class="ui-grid-d">
                    <div class="ui-block-a footer-items">
                        <a href="/">
                            <img height="40" width="40" src='/static/images/navigation/homepage_clicked.png' />
                        </a>
                    </div>
                    <div class="ui-block-b footer-items">
                        <a href="/buy/form">
                            <img height="40" width="32" src='/static/images/navigation/buy_form_clicked.png' />
                        </a>
                    </div>
                    <div class="ui-block-c footer-items">
                        <a href="/sell/form">
                            <img height="40" width="32" src='/static/images/navigation/sell_form_clicked.png' />
                        </a>
                    </div>
                    <div class="ui-block-d footer-items">
                        <a href="/buy/all_list">
                            <img height="40" width="40" src='/static/images/navigation/buy_posts_clicked.png' />
                        </a>
                    </div>
                    <div class="ui-block-e footer-items">
                        <a href="/sell/all_list">
                            <img height="40" width="40" src='/static/images/navigation/sell_posts_clicked.png' />
                        </a>
                    </div>
                </div>    
            </div>
        </div>

        <script type="text/javascript">
        function textCounter(val) {
            var len = val.value.length;
            $('#currentCount').text(len);
        }
        

        function getLocationByLatLon(position) {
            var latitude = position.coords.latitude;
            var longitude = position.coords.longitude;
            $("#latitude").val(latitude);
            $("#longitude").val(longitude);
            $.ajax({
                type: "get",
                url: "/me/get_info/get_zipcode_by_latlong",
                dataType: "json",
                data: {
                    latitude: latitude,
                    longitude: longitude
                }
            }).then(function(data) {
                $('#zipcode').val(data['zipcode']);
                $('#city').text(data['city']);
                console.log(data);
            });
        }

        function getLocationByZipcode() {
            var zipcode = $("#zipcode").val();
            $.ajax({
                type: "get",
                url: "/me/get_info/get_latlong_by_zipcode",
                dataType: "json",
                data: {
                    zipcode: zipcode
                }
            }).then(function(data) {
                console.log(data);
                $('#city').text(data['city']);
                $('#latitude').val(data['latitude']);
                $('#longitude').val(data['longitude']);
            });
        }

        function getCurrentPositionDeferred(options) {
            var deferred = $.Deferred();
            navigator.geolocation.getCurrentPosition(deferred.resolve, deferred.reject, options);
            return deferred.promise();
        };

        $(document).ready(function() {
            if (navigator.geolocation) {
                getCurrentPositionDeferred({
                    enableHighAccuracy: true
                }).done(function(position) {
                    getLocationByLatLon(position)
                }).fail(function() {
                    console.log("getCurrentPosition call failed")
                }).always(function() {
                    //do nothing
                });
            } else {
                alert("geolocation is disabled.")
            }
            initiatePage();
        });
        </script>

    </div>
</body>

</html>