<!DOCTYPE HTML>
<html lang="zh">

{% include "head.html" with title="周边物品" %}

<body>
    <div id="nearby-sellpost" data-role="page" data-fullscreen="true">
        {% include "header.html" with title="周边物品" search="on" %}
        {% include "search.html" with categories=categories %}
        <div id="sell-list" data-role="main">
            <input type="hidden" class="num-per-page" name="num-per-page" value="{{num_per_page}}" />
            <div class="post-list1"></div>
            <div class="post-list2"></div>
            <div style="clear:both"></div>
            <img class="post-load-more" src="/static/images/general/loading_green.gif" />
        </div>
        
        {% include "footer.html" with sell_list="_clicked" %}
    </div>
</body>

</html>
