<!DOCTYPE HTML>
<html lang="zh">

<head>
    <meta name="viewport" content="width=device-width ,  user-scalable=no">
    <meta charset="UTF-8">

    <!-- jquery library -->
    <link rel="stylesheet" type="text/css" href="/static/jquery/jquery.mobile-1.4.2.css">
    <script src="/static/jquery/jquery-1.8.3.js "></script>
    <script src="/static/jquery/jquery.mobile-1.4.2.js"></script>

    <!--js library for s3 upload-->
    <script src="/static/lodash.js"></script>
    <script type="text/javascript" src="/static/s3upload.js"></script>
    <script src="/static/exif.js"></script>
    <script src="/static/binaryajax.js"></script>

    <!-- beike customized css and js -->
    <link rel="stylesheet" type="text/css" href="/static/common.css">
    <link rel="stylesheet" type="text/css" href="/static/sell.css">
    <script src="/static/buy.js"></script>
    <script src="/static/sell.js"></script>

</head>

<body>
    <div data-role="page">
        <div data-role="header" data-position="fixed">
            <img style="width:100%;height:100%;" src="/static/images/nearby_sell_posts/header.png" />
        </div>
        <div id="sell-list" data-role="main">
            <div class="ui-grid-a">
                <div class="ui-block-a" style="width:48%; margin-left: 5px; margin-right: 2.5px">
                    <ul id="post-list-a" data-role="listview" data-theme="c" data-inset="true">
                    </ul>
                </div>
                <div class="ui-block-b" style="width:48%; margin-left: 2.5px;">
                    <ul id="post-list-b" data-role="listview" data-theme="c" data-inset="true">
                    </ul>
                </div>
            </div>
        </div>
        <div id="load-more" style="vertical-align:middle; text-align:center; display:none">
            <img width="50px" height="50px" src="/static/images/general/loading_green.gif" />
        </div>
        <div data-role="footer" data-position="fixed">
        </div>
        <script type="text/javascript">
        var pageNum = 1;
        var current_position;
        var hasMore = true;

        var postLoader = (function($, undefined) {
            var pub = {};
            pub.init = function() {
                //Refresh the posts when scrolling to the bottom
                $(window).live("hitBottom",
                    function() {
                        pub.getAndDisplayPosts();
                    });
            };

            pub.getAndDisplayPosts = function(position) {
                //Starting loading animation
                $('#load-more').show();
                //Get posts and add success callback using then
                getPosts(position).then(function() {
                    //Stop loading animation on success
                    $('#load-more').hide();
                });
            };

            function getPosts(position) {
                //Get posts via ajax
                return $.ajax({
                    type: "get",
                    url: "/sell/get_posts_by_page",
                    dataType: "json",
                    data: {
                        pageNum: pageNum,
                        latitude: position.coords.latitude,
                        longitude: position.coords.longitude
                    }
                }).then(function(data) {
                    displayPosts(data);
                });
            }

            function displayPosts(posts) {
                var listA = $("#post-list-a");
                var listB = $("#post-list-b");
                var i = 0,
                    len = posts.length;
                if (len == 0) {
                    hasMore = false;
                    $('#load-more').hide();
                }
                //process posts data
                for (i = 0; i < len; i++) {
                    var image_info_list = jQuery.parseJSON(posts[i]["image_info"]);
                    if (image_info_list.length > 0) {
                        //only display the first image
                        image_info = image_info_list[0];
                    } else {
                        image_info = undefined
                    }
                    var isHorizontal = true
                    if (image_info['height'] > image_info['width']) {
                        isHorizontal = false;
                    }
                    var image_width, image_height
                    var max_width = 135
                    var max_height = 180
                    if (isHorizontal) {
                        if (image_info['width'] < max_width) {
                            image_width = image_info['width']
                            image_height = image_info['height']
                        } else {
                            image_width = max_width
                            image_height = max_width * (image_info['height']/image_info['width']);
                        }
                    } else {
                        if (image_info['height'] < max_height) {
                            image_width = image_info['width']
                            image_height = image_info['height']
                        } else {
                            image_height = max_height
                            image_width = max_height * (image_info['width']/image_info['height']);

                        }
                    }
                    var displayCss = "horizontal-li";
                    if (!isHorizontal) {
                        displayCss = "vertical-li"
                    }
                    var template = '<li class="' + displayCss + '"><div><div><img src="' + 
                            image_info['image_url'] + '" width = "' + image_width +
                            '" height = "' + image_height + '" /></div><a href="/detail/sell/' +
                            posts[i]['post_id'] + '"><div><img width="20" height="20" src="/static/images/nearby_sell_posts/sell_logo.png" /> ' +
                            posts[i]["title"] + '</div><div>$' + posts[i]["price"] + '</div></a></div></li>';

                    if (i % 2 === 0) {
                        listA.append(template);
                    } else {           
                        listB.append(template);
                    }
                }
                listA.listview("refresh");
                listB.listview("refresh");
            }
            return pub;
        }(jQuery));

        function getCurrentPositionDeferred(options) {
            var deferred = $.Deferred();
            navigator.geolocation.getCurrentPosition(deferred.resolve, deferred.reject, options);
            return deferred.promise();
        };

        $(document).live('pageshow', function() {
            postLoader.init();
            getCurrentPositionDeferred({
                enableHighAccuracy: true
            }).done(function(position) {
                current_position = position;
                postLoader.getAndDisplayPosts(position);
            }).fail(function() {
                console.log("getCurrentPosition call failed")
            }).always(function() {
                //do nothing
            });
        });


        $(document).scroll(function() {
            if ($(document).height() > $(window).height() && hasMore) {
                if ($(window).scrollTop() >= $(document).height() - $(window).height() - 100) {
                    pageNum++;
                    if (typeof current_position !== 'undefined') {
                        postLoader.getAndDisplayPosts(current_position);
                    }
                }
            }
        });
        </script>
    </div>

</body>

</html>