<!DOCTYPE HTML>
<html lang="zh">

{% include "head.html" with title="周边物品" %}

<body>
<div id="nearby-sellpost" data-role="page" data-fullscreen="true" data-dom-cache="true">
    {% include "header.html" with title="周边物品" %}
    {% include "search.html" with categories=categories page="sell" %}
    <div id="sell-list" data-role="main" style="margin-bottom: 55px;">
        <input type="hidden" class="num-per-page" name="num-per-page" value="{{num_per_page}}" />
        <div class="post-list1"></div>
        <div class="post-list2"></div>
        <div style="clear:both"></div>
        <img class="post-load-more" src="/static/images/general/loading_green.gif" />
        <div class="post-ask-location" style="display:none;">Please enter location</div>
        <div class="post-empty" style="display:none;">empty</div>
    </div>

    {% include "footer.html" with sell_list="_clicked" %}
</div>
<iframe class="refresh-title" style="display:none;" src="/about/"></iframe>
</body>

</html>
