<!DOCTYPE HTML>
<html>

{% include "head.html" with title="我要卖" %}

<body>
<div id="sell-form" data-role="page" data-fullscreen="true">
    {% include "header.html" with title="我要卖" %}
    
    <div data-role="content">
        {% include "gallery.html" with galleryId="sell-form-gallery" upload="on" %}
        <form action="/sell/form_submit/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" id="image_url0" name="image_url0" data-rule-required="true" data-rule-content="true" data-msg-required="请至少上传一张照片" />
            <input type="hidden" id="image_width0" name="image_width0" />
            <input type="hidden" id="image_height0" name="image_height0" />

            <input type="hidden" id="image_url1" name="image_url1" />
            <input type="hidden" id="image_width1" name="image_width1" />
            <input type="hidden" id="image_height1" name="image_height1" />

            <input type="hidden" id="image_url2" name="image_url2" />
            <input type="hidden" id="image_width2" name="image_width2" />
            <input type="hidden" id="image_height2" name="image_height2" />

            <input type="hidden" id="image_orientation0" name="image_orientation0" />
            <input type="hidden" id="image_orientation1" name="image_orientation1" />
            <input type="hidden" id="image_orientation2" name="image_orientation2" />

            <div class="form-left">标题</div>
            <div class="form-right">
                <input type="text" maxlength="20" name="title" id="title" placeholder="请输入标题" data-rule-required="true" data-rule-content="true" data-msg-required="请输入标题" />
            </div>

            <div class="form-left">类别</div>
            <div class="form-right">
                <select class="form-button" name="category" id="category" data-placeholder="true">
                    {% for category in categories %}
                        <option value={{ category.id }}>{{category.name}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-left">价格</div>
            <div class="form-right">
                <input type="number" min="-1000" max="1000000000" name="price" placeholder="请标价" data-rule-required="true" data-rule-content="true" data-msg-required="请输入价格">
            </div>
            
            <input type="hidden" name="latitude" id="latitude"></input>
            <input type="hidden" name="longitude" id="longitude"></input>

            <div class="form-left">邮编</div>
            <div class="form-right">
                <div style="width: 65px; float: left;">
                    <input type="text" maxlength="6" name="zipcode" id="zipcode" placeholder="zipcode" data-rule-required="true" data-rule-content="true" data-msg-required="输入zipcode并按修改">
                </div>
                <div style="width: 100px; float: right;">
                    <a href="" class="form-button" data-role="button" onclick="formLoader.getLocationByZipcode(); return false;">
                        <span>更新</span>
                    </a>
                </div>
            </div>

            <div class="form-left">城市</div>
            <div class="form-right">
                <input readonly class="readonly" data-role="none" name="city_name" id="city-name" data-rule-required="true" data-rule-content="true" data-msg-required="输入zipcode并按修改"></input>
            </div>


            <div id="prefer-contact" class="form-left">新旧度</div>
                <div class="form-right">
                    <div class="ui-grid-c">
                        <div class="ui-block-a form-cond" onclick="chooseCondition(0);">
                            <span id="condition-0-desc">新</span>
                            <div>
                                <img class="form-cond-img" id="condition-0-img" src="/static/images/sell_post/new.png">
                            </div>
                        </div>
                        <div class="ui-block-b form-cond" onclick="chooseCondition(1);">
                            <span id="condition-1-desc">九成新</span>
                            <div>
                                <img class="form-cond-img" id="condition-1-img" src="/static/images/sell_post/90-new.png">
                            </div>
                        </div>
                        <div class="ui-block-c form-cond" onclick="chooseCondition(2);">
                            <span id="condition-2-desc">七成新</span>
                            <div>
                                <img class="form-cond-img" id="condition-2-img" src="/static/images/sell_post/70-new.png">
                            </div>
                        </div>
                        <div class="ui-block-d form-cond" onclick="chooseCondition(3);">
                            <span id="condition-3-desc">旧</span>
                            <div>
                                <img class="form-cond-img" id="condition-3-img" src="/static/images/sell_post/used.png">
                            </div>
                        </div>
                    </div>
                </div>
            <input type="hidden" id="condition-slider" value="0" />

            <div class="form-left">联系方式</div>
            <div class="form-right">
                <div class="ui-grid-b">
                    <div class="ui-block-a">
                        <img class="contact-icon" id="email-icon" onclick="formLoader.clickEmailContact();" src="/static/images/general/email_icon.png" />
                        <img class="contact-icon hide" id="email-icon-clicked" onclick="formLoader.clickEmailContact();" src="/static/images/general/email_icon_clicked.png" />
                    </div>
                    <div class="ui-block-b">
                        <img class="contact-icon" id="phone-icon" onclick="formLoader.clickPhoneContact();" src="/static/images/general/phone_icon.png" />
                        <img class="contact-icon hide" id="phone-icon-clicked" onclick="formLoader.clickPhoneContact();" src="/static/images/general/phone_icon_clicked.png" />
                    </div>
                    <div class="ui-block-c">
                        <img class="contact-icon" id="sms-icon" onclick="formLoader.clickSmsContact();" src="/static/images/general/sms_icon.png" />
                        <img class="contact-icon hide" id="sms-icon-clicked" onclick="formLoader.clickSmsContact();" src="/static/images/general/sms_icon_clicked.png" />
                    </div>
                </div>

                <input type="hidden" name="sms-checked" id="sms-checked" value="off"></input>
                <input type="hidden" name="phone-checked" id="phone-checked" value="off"></input>
                <input type="hidden" name="email-checked" id="email-checked" value="off"></input>

                <div id="email_div">
                {% if user.email and user.email != " " %}
                    <input type="email" id="email" name="email" placeholder="Email" value="{{user.email}}" data-rule-required="true" data-rule-content="true" data-msg-required="请输入email" />
                {% else %}
                    <input type="email" id="email" name="email" placeholder="Email" data-rule-required="true" data-rule-content="true" data-msg-required="请输入Email" />
                {% endif %}
                </div>
                <div id="phone_number_div">
                {% if user.mobile_phone and user.mobile_phone != " " %}
                    <input type="tel" id="phone_number" name="phone_number" placeholder="手机号码" value="{{user.mobile_phone}}" data-rule-required="true" data-rule-content="true" data-msg-required="请输入手机号码" />
                {% else %}
                    <input type="tel" id="phone_number" name="phone_number" placeholder="手机号码" data-rule-required="true" data-rule-content="true" data-msg-required="请输入手机号码" />
                {% endif %}
                </div>
            </div>

            <div class="form-left">其他描述</div>
            <div class="form-right">
                <span id="lengthCounter">0/300</span>
            </div>
            <div style="clear:both"></div>
            <div class="content-box">
                <textarea name="content" id="content" placeholder="描述颜色、大小、形状、新旧等需求" data-rule-required="true" data-rule-content="true" data-msg-required="请输入详细描述" maxlength="300"></textarea>
            </div>
                
            <input type="image" value="Submit" id="submit_btn" src="https://s3-us-west-2.amazonaws.com/beike-s3/static/img/04/submit.png">
        </form>
    </div>

    {% include "footer.html" with sell="_clicked" %}
</div>
</body>

</html>
