<!DOCTYPE HTML>
<html lang="zh">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <!-- jquery library -->
    <script type="text/javascript" src="/static/jquery/jquery-1.8.3.js "></script>
    <script type="text/javascript" src="/static/jquery/jquery.mobile-1.4.2.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/jquery/jquery.mobile-1.4.2.css">
    <link rel="stylesheet" type="text/css" href="/static/jquery/beike-themes/beike-theme.css">
    <link rel="stylesheet" type="text/css" href="/static/jquery/beike-themes/jquery.mobile.icons.min.css">


    <!--js library for s3 upload-->
    <script type="text/javascript" src="/static/s3upload.js"></script>
    <script type="text/javascript" src="/static/exif.js"></script>
    <script type="text/javascript" src="/static/binaryajax.js"></script>

    <!-- beike customized css and js -->
    <link rel="stylesheet" href="/static/common.css">
    <script src="/static/common.js"></script>
    <link rel="stylesheet" href="/static/swipe-normalize.css">
    <link rel="stylesheet" href="/static/swipe.css">
    <script src="/static/common.js"></script>
    <script src="/static/buy.js"></script>
    <script src="/static/sell.js"></script>
    <script src="/static/swipe.js"></script>
    <title>千贝科技</title>
</head>

<body>
    <div id="nearby-sellpost" data-role="page" data-fullscreen="true">
        <link rel="stylesheet" type="text/css" href="/static/sell.css">
        <div data-role="header" data-position="fixed" style="background-color: rgb(35,192,148);">
            <div class="ui-grid-b">
                <div class="ui-block-a">
                </div>
                <div class="ui-block-b">
                    <p style="text-align:center; color:white">周边物品</p>
                </div>
                <div class="ui-block-a">
                </div>
            </div>
        </div>

        <div id="sell-list" data-role="main">
            <div data-role="fieldcontain">
                <form action="#" method="post" enctype="multipart/form-data" onsubmit="return refreshSellPosts();">
                    <label for="name">Zipcode:</label>
                    <input type="text" name="zipcode" id="zipcode" value="" />
                    <input type="submit" value="Submit" id="submit_btn">
                </form>
            </div>
            <div class="ui-grid-a">
                <div class="ui-block-a">
                    <ul id="post-list-a" data-role="listview" data-theme="c" data-inset="true" class="post-ui-listview">
                    </ul>
                </div>
                <div class="ui-block-b">
                    <ul id="post-list-b" data-role="listview" data-theme="c" data-inset="true">
                    </ul>
                </div>
            </div>
        </div>
        <div id="load-more" style="vertical-align:middle; text-align:center; display:none">
            <img width="50px" height="50px" src="/static/images/general/loading_green.gif" />
        </div>
        <div data-role="footer" data-position="fixed">
            <div style="background-color: rgb(35,192,148);">
                <div class="ui-grid-d">
                    <div class="ui-block-a">
                        <a href="/">
                            <img height="30" width="30" style="padding:12px 5px 5px 12px;" src='/static/images/navigation/homepage_clicked.png' />
                        </a>
                    </div>
                    <div class="ui-block-b">
                        <a href="/buy/form/">
                            <img height="40" width="32" style="padding:5px;" src='/static/images/navigation/buy_form_clicked.png' />
                        </a>
                    </div>
                    <div class="ui-block-c">
                        <a href="/sell/form/">
                            <img height="40" width="32" style="padding:5px;" src='/static/images/navigation/sell_form_clicked.png' />
                        </a>
                    </div>
                    <div class="ui-block-d">
                        <a href="/buy/all_list/">
                            <img height="40" width="40" style="padding:5px;" src='/static/images/navigation/buy_posts_clicked.png' />
                        </a>
                    </div>
                    <div class="ui-block-e">
                        <a href="/sell/all_list/">
                            <img height="40" width="40" style="padding:5px;" src='/static/images/navigation/sell_posts_clicked.png' />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
        $(document).on("scrollstart", function() {
            if ($(document).height() > $(window).height() && hasMoreSellPost) {
                if ($(window).scrollTop() >= $(document).height() - $(window).height() - 200) {
                    if (typeof sellPostCurLatLon !== 'undefined') {
                        hasMoreSellPost = false;
                        sellPostLoader.getAndDisplayPosts(sellPostCurLatLon);
                    }
                }
            }
        });
        </script>

    </div>

</body>

</html>