{% if user_image %}
<div class="user-image-box">
    <a href="/user/{{post.user.id}}/">
        <img class="user-image" src="{{user_image.image_url}}"/>
    </a>  
</div>
{% endif %}

{% if post.user %}
<div class="user-name"><p>{{post.user.name}}</p></div>
{% endif %}

<div class="user-contacts">
{% if email_checked %}
    <a id="email-button" class="user-contact-link" href="mailto:{{email}}?Subject={{post.title}}">Email<!--data-role="button" img class="detail-contact-icon" src="/static/images/detail/email_selected.png"/--></a>
{% endif %}
{% if phone_checked%}
    <a class="user-contact-link" href="tel:{{phone}}"><img class="user-contact-icon" src="/static/images/detail/phone_selected.png" /></a>
{% endif%}
{% if sms_checked%}
    <a class="user-contact-link" href="sms:{{phone}}"><img class="user-contact-icon" src="/static/images/detail/sms_selected.png" /></a>
{% endif%}
</div>

{% if post.user.description %}
<hr>
<div class="user-description">{{post.user.description}}</div>
{% endif %}
<hr>
<div class="user-reg-date">
    注册于{{ post.user.date_created|date:"Y年n月j日" }}
</div>

{% if is_owner %}
<div class="user-complete-profile">
    <a href="/user/{{user_id}}/">
        <img src="/static/images/detail/complete_profile.png" style="max-height:30px;">
    </a>
</div>

<div class="detail-edit-box">
    <a class="detail-bottom-button" href="/detail/{{page}}/{{post.id}}/edit/"><button class="submit-button">修 改</button></a>
    <div class="detail-bottom-button"><button class="submit-button" onclick="detailLoader.togglePostStatus();">Hide</button></div>
    <div style="clear:both;"></div>
</div>
{% endif %}
