<!DOCTYPE HTML>
<html lang="zh">

{% include "head.html" %}

<body>
<div data-role="page" id="main-page" data-theme="a" data-fullscreen="true">
    {% include "header.html" with title="我的" %}
        
    <div data-role="content">
        {% if image %}
        <div class="user-image-box">
            <a href="/user/{{user.id}}/"><img class="user-image" src="{{image.image_url}}"/></a>
        </div>
        {% endif %}

        {% if user.name %}
        <div class="user-name"><p>{{user.name}}</p></div>
        {% endif %}
                
            <div data-role="collapsible-set">
                <div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-iconpos="right">
					<h4 class="mine-menu-title"><img class="mine-menu-icon" src="/static/images/my_account/my_sell_posts.png" />我要卖</h4>
                    <ul data-role="listview" data-inset="false">
                        {% for post in sell_posts %}
                        <li>
                            <a class="mine-link-box" href="/detail/sell/{{post.id}}">
                                <div class="mine-title-wrapper">
                                    <span class="mine-title">{{post.title}}</span>
                                    <div class="mine-postdate">
                                        {{post.date_published|date:"M d, Y"}}
                                    </div>
                                </div>
                                <div class="mine-price-wrapper">
                                    <span class="mine-currency">$</span>
                                    <span class="mine-price">{{post.price}}</span>
                                </div>
                                <div class="mine-content">
                                    描述：{{post.content}}
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                        <ul data-role="listview" data-inset="false">
                </div>

                <div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-iconpos="right">
					<h4 class="mine-menu-title"><img class="mine-menu-icon" src="/static/images/my_account/my_buy_posts.png" />我要买</h4>
                    <ul data-role="listview" data-inset="false">
                        {% for post in buy_posts %}
                        <li>
                            <a class="mine-link-box" href="/detail/buy/{{post.id}}">
                                <div class="mine-title-wrapper">
                                    <span class="mine-title">{{post.title}}</span>
                                    <div class="mine-postdate">
                                        {{post.date_published|date:"M d, Y"}}
                                    </div>
                                </div>
                                <div class="mine-price-wrapper">
                                    <span class="mine-currency">$</span>
                                    <span class="mine-price">{{post.max_price}}</span>
                                </div>
                                <div class="mine-content">
                                    描述：{{post.content}}
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div style="height: 20px;"></div>

            <div data-role="collapsible-set">
                <div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-iconpos="right">
					<h4 class="mine-menu-title"><img class="mine-menu-icon" src="/static/images/my_account/my_fav_sell_posts.png" />关注物品</h4>
                    <ul data-role="listview" data-inset="false">
                        {% for post in followed_sell_posts %}
                        <li>
                            <a class="mine-link-box" href="/detail/sell/{{post.id}}">
                                <div class="mine-title-wrapper">
                                    <span class="mine-title">{{post.title}}</span>
                                    <div class="mine-postdate">
                                        {{post.date_published|date:"M d, Y"}}
                                    </div>
                                </div>
                                <div class="mine-price-wrapper">
                                    <span class="mine-currency">$</span>
                                    <span class="mine-price">{{post.price}}</span>
                                </div>
                                发布者 {{post.user.name}}
                                <div class="mine-content">
                                    描述：{{post.content}}
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-iconpos="right">
					<h4 class="mine-menu-title"><img class="mine-menu-icon" src="/static/images/my_account/my_fav_buy_posts.png" />关注需求</h4>
                    <ul data-role="listview" data-inset="false">
                        {% for post in followed_buy_posts %}
                        <li>
                            <a class="mine-link-box" href="/detail/sell/{{post.id}}">
                                <div class="mine-title-wrapper">
                                    <span class="mine-title">{{post.title}}</span>
                                    <div class="mine-postdate">
                                        {{post.date_published|date:"M d, Y"}}
                                    </div>
                                </div>
                                <div class="mine-price-wrapper">
                                    <span class="mine-currency">$</span>
                                    <span class="mine-price">{{post.max_price}}</span>
                                </div>
                                发布者 {{post.user.name}}
                                <div class="mine-content">
                                    描述：{{post.content}}
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>
        {% include "footer.html" %}
    </div>
</body>

</html>
