<!DOCTYPE HTML>
<html lang="zh">
	<head>
		<meta name="viewport" content = "width=device-width ,  user-scalable=no">
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="/static/detail.css">
		<script src="/static/detail.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/jquery/jquery.mobile-1.4.2.css">
        <script src="/static/jquery/jquery-1.8.3.js "></script>
        <script src="/static/jquery/jquery.mobile-1.4.2.js"></script>
		<script src="/static/lodash.js"></script>
		<script type="text/javascript" src="/static/s3upload.js"></script>
	</head>
	<body>
	    <div data-role="page" id="main-page">
	    	<div>
           		<img id='header' src='https://s3-us-west-2.amazonaws.com/beike-s3/static/img/07/header.png'>
        	</div>
        	<div>
				<div class='title'>
					<h3 id='title_content'>{{post.title}}</h3>
				</div>

				<div class='price_wrapper'>
					<img id='dollar_img' src='https://s3-us-west-2.amazonaws.com/beike-s3/static/img/07/dollar.png'>
					<div class='price'>
						{{post.min_price}} ~ {{post.max_price}}
					</div>
				</div>
				<div class='location'>
					{{post.user.address.city}}
				</div>	

				<div class='condition'>
					<img id='condition_img' src='https://s3-us-west-2.amazonaws.com/beike-s3/static/img/07/condition.png'>
				</div>
				<ul>
					<li>
						<div class='description_title'>
							发布人
						</div>
						<div class='description_content'>
							{{post.user.name}}</br>
						</div>
					</li>
					<li>
						<div class='description_title'>
							发布日期
						</div>
						<div class='description_content'>
							{% load string_utils %}
							{{post.date_published|get_time}}</br>
						</div>
					</li>
		            <li>
						<div class='description_title'>
							详细描述
						</div>
						<div class='description_content'>
							{{post.content}}</br>
						</div>
					</li>

					<li>
						<div class='description_title'>
							卖家电话
						</div>
						<div class='description_phone'>
							{{post.user.home_phone}}
						</div>
						<img id='phone' src='https://s3-us-west-2.amazonaws.com/beike-s3/static/img/07/phone.png'>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>
