<!DOCTYPE HTML>
<html>

{% include "head.html" with title="我要买 | 修改" %}

<body>
<div id="buy-edit" data-role="page" data-fullscreen="true">
    {% include "header.html" with title="我要买 | 修改" %}
    
    <div data-role="content">
        <form action="/detail/buy/{{post.id}}/save/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            {% include "form/main.html" with post=post categories=categories %}
            
            {% include "form/contact.html" with email=email phone=phone %}
            {% include "form/description.html" with content=post.content %}

            <button class="submit-button" type="submit" id="submit_btn">提 交</button>
        </form>
    </div>

    {% include "footer.html" %}
</div>
<iframe class="refresh-title" style="display:none;" src="/about/"></iframe>
</body>

</html>
