<!DOCTYPE HTML>
<html lang="zh">
	<head>
		<meta name="viewport" content = "width=device-width ,  user-scalable=no">
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="/static/detail.css">
		<script src="/static/detail.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
		<script src="/static/lodash.js"></script>
		<script type="text/javascript" src="/static/s3upload.js"></script>
	</head>
	<body>
		<div class='head'>
			<img id='head_img' src='https://s3-us-west-2.amazonaws.com/beike-s3/static/img/07/header.png'>
		</div>
		<div class='title'>
			<h3 id='title_content'>{{post.title}}</h3>
		</div>
		<div class='price_wrapper'>
			<img id='dollar_img' src='https://s3-us-west-2.amazonaws.com/beike-s3/static/img/07/dollar.png'>
			<div class='price'>
				{%if post.price_min %}
					{{post.price_min}} ~ {{post.price_max}}
				{%else %}
					{{post.price_num}}
				{%endif%}
			</div>
			<ul class='post_base'>
				<li>
					发布人：{{post.user.name}}
				</li>
				<li>
					{% load string_utils %}
					发布日期：{{post.date_published|get_time}}
				</li>
			</ul>
		</div>
		<div class='location'>
			{{post.user.address.city}}-{{post.user.address.state_or_region}}
		</div>	

		<div class='condition'>
			<img id='condition_img' src='https://s3-us-west-2.amazonaws.com/beike-s3/static/img/07/condition.png'>
		</div>
		<ul>
                	<li>
				<div class='description_title'>
					详细描述
				</div>
				<div class='description_content'>
					{{post.content}}</br>
				</div>
			</li>

			<li>
				<div class='description_title'>
					保留至
				</div>
				<div class='description_content'>
					{{post.open_util}}
				</div>
			</li>
			<li>
				<div class='description_title'>
					卖家电话
				</div>
				<div class='description_phone'>
					{{post.phone}}
				</div>
				<img id='phone' src='https://s3-us-west-2.amazonaws.com/beike-s3/static/img/07/phone.png'>
			</li>
		</ul>
		<h3>{{post.title}} [${{post.price_num}}] </h3>
		<div class="post_meta">
			on {{post.date_published}}  by {{post.user.name}}</br>
			in {{post.user.address.city}}, {{post.user.address.state_or_region}}
		</div>
		{% if post.image_urls %}
			{% load string_utils %}
			{% for url in post.image_urls|split:";" %}
				<div class="post_image">
					<img src= {{url}}  height="200" width="200">
				</div>
			{% endfor%}
		{% endif%}
		<div class="post_body">
			{{post.content|safe|linebreaks}}
		</div>
		{% if comments %}
		    <p>{{comments|length}} Comments:</p>
			{% if wx_id == post.user.wx_id %}
				{% for comment in comments %}
				    <div class="comment">
					<div class="body">{{ comment.content|linebreaks }}</div>
					{% if comment.image_urls %}
						{% load string_utils %}
						{% for url in comment.image_urls|split:";" %}
						<div class="comment_image">
							<img src= {{url}}  height="150" width="150">
						</div>
						{% endfor%}
					{% endif%}
				    </div>
				{% endfor %}
			{% else %}
				<p>Sorry. Only post publisher can see the content</p>
			{% endif %}
		{% endif %}
	
		<div id="addc">Add a comment</div>
		<form action="add_comment/" method="POST">{% csrf_token %}
		    <div id="comment_form">
			<p>{{ comment_form.content|linebreaks }}</p>
		    </div>
		{% if post.is_buy %}
			<div id="div_image1">
				<input type="file" id="image1" onchange="image_s3_upload(this.id,'{{user_id}}');">
				<input type="hidden" id="image_name1"  value="">
				<p id="progress1">
				<p id="status1">
				<div id="preview1"></div>
			</div>
			<input type="hidden" id="image_names" name="image_names"  value="">
		{% endif %}
		{% csrf_token %}
		<div id="submit"><input type="submit" value="Submit"></div>
		</form>
	</body>
</html>
