<!DOCTYPE HTML>
<html lang="zh">

<head>
    <meta name="viewport" content="width=device-width ,  user-scalable=no">
    <meta charset="UTF-8">
    <!-- jquery library -->
    <link rel="stylesheet" type="text/css" href="/static/jquery/jquery.mobile-1.4.2.css">
    <script src="/static/jquery/jquery-1.8.3.js "></script>
    <script src="/static/jquery/jquery.mobile-1.4.2.js"></script>

    <!--js library for s3 upload-->
    <script src="/static/lodash.js"></script>
    <script type="text/javascript" src="/static/s3upload.js"></script>
    <script src="/static/exif.js"></script>
    <script src="/static/binaryajax.js"></script>

    <!-- beike customized css and js -->
    <link rel="stylesheet" href="/static/common.css">
    <link rel="stylesheet" href="/static/detail.css">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="/static/buy.js"></script>
    <script src="/static/sell.js"></script>
    <script type="text/javascript" src="/static/jquery.touchSwipe.min.js"></script>
</head>

<body>
    <div data-role="page" id="sell-detail-page" data-fullscreen="true">
        <div data-role="header" data-position="fixed">
            <div style="background-color: rgb(35,192,148);">
                <div class="ui-grid-b">
                    <div class="ui-block-a">
                    </div>
                    <div class="ui-block-b">
                        <p style = "text-align:center; color:white">物品</p>
                    </div>
                    <div class="ui-block-a">
                    </div>
                </div>
            </div>
        </div>


        <div data-role="content" id="content">
            <div class="ui-grid-solo">
                <div class="ui-block-a">
                    {{post.title}}
                </div>
            </div>

        <div class="container">

            <script id='code_1'>

                var IMG_WIDTH = 500;
                var currentImg=0;
                var maxImages={{image_num}};
                var speed=500;

                var imgs;

                var swipeOptions=
                {
                    triggerOnTouchEnd : true,   
                    swipeStatus : swipeStatus,
                    allowPageScroll:"vertical",
                    threshold:75            
                    }

                $(function()
                {               
                    imgs = $("#imgs");
                    imgs.swipe( swipeOptions );
                });


                /**
                * Catch each phase of the swipe.
                * move : we drag the div.
                * cancel : we animate back to where we were
                * end : we animate to the next image
                */          
                function swipeStatus(event, phase, direction, distance)
                {
                    //If we are moving before swipe, and we are going Lor R in X mode, or U or D in Y mode then drag.
                    if( phase=="move" && (direction=="left" || direction=="right") )
                    {
                        var duration=0;

                        if (direction == "left")
                            scrollImages((IMG_WIDTH * currentImg) + distance, duration);

                        else if (direction == "right")
                            scrollImages((IMG_WIDTH * currentImg) - distance, duration);

                    }

                    else if ( phase == "cancel")
                    {
                        scrollImages(IMG_WIDTH * currentImg, speed);
                    }

                    else if ( phase =="end" )
                    {
                        if (direction == "right")
                            previousImage()
                        else if (direction == "left")           
                            nextImage()
                    }
                }



                function previousImage()
                {
                    currentImg = Math.max(currentImg-1, 0);
                    scrollImages( IMG_WIDTH * currentImg, speed);
                }

                function nextImage()
                {
                    currentImg = Math.min(currentImg+1, maxImages-1);
                    scrollImages( IMG_WIDTH * currentImg, speed);
                }

                /**
                * Manuallt update the position of the imgs on drag
                */
                function scrollImages(distance, duration)
                {
                    imgs.css("-webkit-transition-duration", (duration/1000).toFixed(1) + "s");

                    //inverse the number we set in the css
                    var value = (distance<0 ? "" : "-") + Math.abs(distance).toString();

                    imgs.css("-webkit-transform", "translate3d("+value +"px,0px,0px)");
                }
            </script>

            <div id="image_gallery">
                <div id="imgs">
                        {% for image_metadata in image_list %}
                            <!-- <span class="img_span" width="500px" height="100%"> -->
                                <img src="{{ image_metadata.image_url }}">
                            <!-- </span> -->
                        {% endfor%}
                </div>
            </div>          

        </div>



            <div class="ui-grid-a">
                <div class="ui-block-a">
                    <img id='dollar_img' src='https://s3-us-west-2.amazonaws.com/beike-s3/static/img/07/dollar.png'>
                </div>
                <div class="ui-block-b">
                    {{post.price}}
                </div>
            </div>
            <div class="ui-grid-solo">
                {{post.user.address.city}}
            </div>

            <div class="ui-grid-a">
                <div class="ui-block-a">
                    发布人
                </div>
                <div class="ui-block-b">
                    {{post.user.name}}
                </div>
            </div>

            <div class="ui-grid-a">
                <div class="ui-block-a">
                    发布日期
                </div>
                <div class="ui-block-b">
                    {% load string_utils %} {{post.date_published|get_time}}
                </div>
            </div>
            <div class="ui-grid-a">
                <div class="ui-block-a">
                    详细描述
                </div>
                <div class="ui-block-b">
                    {{post.content}}
                </div>
            </div>

            <div class="ui-grid-a">
                <div class="ui-block-a">
                    联系方式:
                </div>
                <div class="ui-grid-b">
                    <div class="ui-grid-solo">
                    {% if phone_checked%}
                        <a href="tel:{{phone}}" data-role="button">{{phone}}</a> (电话)
                    {% endif%}
                    </div>
                    <div class="ui-grid-solo">
                    {% if email_checked%}
                    <a href="mailto:{{email}}?Subject=回复帖子：{{post.title}}" data-role="button">{{email}}</a> (Email)
                    {% endif%}
                    </div>
                    <div class="ui-grid-solo">
                    {% if qq_checked%}
                        {{qq}} (QQ或微信号)
                    {% endif%}
                    </div>
                </div>
            </div>
            
            {% if is_owner %}
            <label for="open-close-post">关闭此贴:</label>
             <select name="open-close-post" id="open-close-post" data-role="slider">
                <option value="open"{% if is_open %} selected {% endif %}>待售</option>
                <option value="close"{% if not is_open %} selected {% endif %}>已售</option>
             </select>
            {% else %}
            <label for="follow-post">关注此贴:</label>
            <select name="follow-post" id="follow-post" data-role="slider">
                <option value="unfollow" {% if not is_followed %} selected {% endif %}>不关注</option>
                <option value="follow" {% if is_followed %} selected {% endif %}>关注中</option>
            </select>
            {% endif %}
        </div>
        <div>
            <input type="hidden" id="post_id" value={{post.id}}>
        </div>
        <div>
            <input type="hidden" id="wx_id" value={{wx_id}}>
        </div>
        <div data-role="footer" data-position="fixed">
            <div style="background-color: rgb(35,192,148);">
                <div class="ui-grid-d">
                    <div class="ui-block-a">
                        <a href="/">
                            <img height="30" width="30" style = "padding:12px 5px 5px 12px;" src='/static/images/navigation/homepage_clicked.png' />
                        </a>
                    </div>
                    <div class="ui-block-b">
                        <a href="/buy/form">
                            <img height="40" width="32" style = "padding:5px;" src='/static/images/navigation/buy_form_clicked.png' />
                        </a>
                    </div>
                    <div class="ui-block-c">
                        <a href="/sell/form">
                            <img height="40" width="32" style = "padding:5px;" src='/static/images/navigation/sell_form_clicked.png' />
                        </a>
                    </div>
                    <div class="ui-block-d">
                        <a href="/buy/all_list">
                            <img height="40" width="40" style = "padding:5px;" src='/static/images/navigation/buy_posts_clicked.png' />
                        </a>
                    </div>
                    <div class="ui-block-e">
                        <a href="/sell/all_list">
                            <img height="40" width="40" style = "padding:5px;" src='/static/images/navigation/sell_posts_clicked.png' />
                        </a>
                    </div>
                </div>    
            </div>
        </div>
        <script type="text/javascript">
        var wx_id = $("#wx_id").val();
        var post_id = $("#post_id").val();
        $("#follow-post").on('slidestop', function(event) {
            var follow_option = $("#follow-post").val();
            return $.ajax({
                type: "get",
                url: "/sell/follow_post",
                dataType: "json",
                data: {
                    wx_id: wx_id,
                    post_id: post_id,
                    follow_option: follow_option
                }
            }).then(function(data) {});
        });
        $("#open-close-post").on('slidestop', function(event) {
            var operation = $("#open-close-post").val();
            return $.ajax({
                type: "get",
                url: "/sell/open_close_post",
                dataType: "json",
                data: {
                    wx_id: wx_id,
                    post_id: post_id,
                    operation: operation
                }
            }).then(function(data) {});
        });

        </script>
    </div>
</body>

</html>