
#bkgd{
	margin:0;
	padding:0;
	background:url(https://s3-us-west-2.amazonaws.com/beike-s3/static/img/01/green_bkgd.png) center center fixed no-repeat;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
}

#logo{
	margin-top:3em;
	margin-left:5em;
}

.outer {
	width: 100%;
	text-align: center;
}

.inner {
	display: inline-block;
}
