body{
	margin:0;
	padding:0;
}


body_test{
	margin:0;
	padding:0;
	background:url(https://s3-us-west-2.amazonaws.com/beike-s3/static/img/01/bkgd.png) center center fixed no-repeat;
	-moz-background-size: cover;
	background-size: cover;
}

#bkgd{
	margin:0;
	padding:0;
	background:url(https://s3-us-west-2.amazonaws.com/beike-s3/static/img/01/green_bkgd.png) center center fixed no-repeat;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
}

#logo{
	margin-top:3em;
	margin-left:5em;
}

#email{
}

#dots{
	margin-top:1em;
}

#arrow{
}

p{
	color:#FFFFFF;
}

#error{
}

#start{
}

#my_city_img{
}

#cities{
}

.city_img{
}

.outer {
	width: 100%;
	text-align: center;
}

.inner {
	display: inline-block;
}
