<!-- TODO: set up {{post.item_condition.value}} -->
<div id="prefer-contact" class="form-left">新旧度</div>
<div class="form-right">
    <div class="ui-grid-c">
        <div class="ui-block-a form-cond" onclick="chooseCondition(0);">
            <span id="condition-0-desc">新</span>
            <div>
                <img class="form-cond-img" id="condition-0-img" src="/static/images/sell_post/new.png">
            </div>
        </div>
        <div class="ui-block-b form-cond" onclick="chooseCondition(1);">
            <span id="condition-1-desc">九成新</span>
            <div>
                <img class="form-cond-img" id="condition-1-img" src="/static/images/sell_post/90-new.png">
            </div>
        </div>
        <div class="ui-block-c form-cond" onclick="chooseCondition(2);">
            <span id="condition-2-desc">七成新</span>
            <div>
                <img class="form-cond-img" id="condition-2-img" src="/static/images/sell_post/70-new.png">
            </div>
        </div>
        <div class="ui-block-d form-cond" onclick="chooseCondition(3);">
            <span id="condition-3-desc">旧</span>
            <div>
                <img class="form-cond-img" id="condition-3-img" src="/static/images/sell_post/used.png">
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="condition-slider" value="0" />
