<!-- TODO: set up {{post.item_condition.value}} -->
<div class="form-left">新旧度</div>
<div class="form-right">
    <div class="ui-grid-c">
        <div class="ui-block-a" onclick="chooseCondition(0);">
            <img class="contact-icon" id="condition-0" src="/static/images/general/new.png" />
            <img class="contact-icon hide" id="condition-0-clicked" src="/static/images/general/new_clicked.png">
        </div>
        <div class="ui-block-b" onclick="chooseCondition(1);">
            <img class="contact-icon" id="condition-1" src="/static/images/general/90.png" />
            <img class="contact-icon hide" id="condition-1-clicked" src="/static/images/general/90_clicked.png">
        </div>
        <div class="ui-block-c" onclick="chooseCondition(2);">
            <img class="contact-icon" id="condition-2" src="/static/images/general/70.png" />
            <img class="contact-icon hide" id="condition-2-clicked" src="/static/images/general/70_clicked.png">
        </div>
        <div class="ui-block-d" onclick="chooseCondition(3);">
            <img class="contact-icon" id="condition-3" src="/static/images/general/used.png" />
            <img class="contact-icon hide" id="condition-3-clicked" src="/static/images/general/used_clicked.png">
        </div>
    </div>
</div>
<input type="hidden" id="condition-slider" value="0" />
