<div class="form-left">标题</div>
<div class="form-right">
    <input type="text" maxlength="20" name="title" id="title" value="{{post.title}}" placeholder="请输入标题" data-rule-required="true" data-rule-content="true" data-msg-required="请输入标题" />
</div>

<div class="form-left">类别</div>
<div class="form-right">
    <select class="form-button" name="category" id="category" data-placeholder="true">
        {% for category in categories %}
            {% if post.category.id == category.id %}
                <option value={{ category.id }} selected>{{category.name}}</option>
            {% else %}
                <option value={{ category.id }}>{{category.name}}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>

<div class="form-left">价格</div>
<div class="form-right">
    <input type="number" min="0" max="1000000000" name="price" value="{{post.price}}" placeholder="请标价" data-rule-required="true" data-rule-content="true" data-msg-required="请输入价格">
</div>

<div class="form-left">地点</div>
<div class="form-right form-loc-state1">
    <div style="width: 60%; float: left;">
        <input readonly class="readonly" data-role="none" placeholder="Oops, no locations!" name="city_name" id="city-name"></input>
    </div>
    <div style="width: 30%; float: right;">
        <a class="form-button" data-role="button" onclick="formLocation.changeLocation();">修改</a>
    </div>
</div>
<div class="form-right form-loc-state2">
    <div style="width: 30%; float: left;">
        <input type="number" name="zipcode" id="zipcode" placeholder="zipcode" data-rule-required="true" data-rule-content="true" data-msg-required="zipcode">
    </div>
    <div style="width: 30%; float: right;">
        <a class="form-button" data-role="button" onclick="formLocation.getLocationByZipcode();">更新</a>
    </div>
    <div style="width: 30%; float: right; margin-right: 5%;">
        <a class="form-button" data-role="button" onclick="formLocation.refreshLocation();">自动</a>
    </div>
</div>

<input type="hidden" name="latitude" id="latitude"/>
<input type="hidden" name="longitude" id="longitude"/>
<input type="hidden" name="city-id" id="city-id"/>
