<!DOCTYPE HTML>
<html lang="zh">
<head>
	<meta name="viewport" content = "width=device-width ,  user-scalable=no">
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/static/mystyle.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
	<script src="/static/me.js"></script>
</head>
<body>
First visist, please select your area!
{% for city in cities %}
<a href="/me/get_email/{{city.id}}" id="mainMenuBackGround">
{{city.name}}
</a>
{% endfor %}
</body>
</html>
