<!DOCTYPE HTML>
<html lang="zh">
<head>
	<meta name="viewport" content = "width=device-width ,  user-scalable=no">
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/static/me.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="/static/me.js"></script>
</head>
<body>
<div id='bkgd'>
<div class='outer'>
<img id='logo' class='inner' src='https://s3-us-west-2.amazonaws.com/beike-s3/static/img/01/logo.png'>
</div>
{% if error %}
<div class='outer'>
	<p>{{error}} </p>
</div>
{% endif %}

<form action="/{{user_id}}/me/create/" method="post" enctype="multipart/form-data">{% csrf_token %}
	<div class='outer'>
		<input id='email' class='inner' type="text" name="user_email" placeholder="请输入常用邮箱"></br>
	</div>
	<div class='outer'>
		<img id='dots' src='https://s3-us-west-2.amazonaws.com/beike-s3/static/img/01/dots.png'>
	</div>
	<div class='outer'>
		<a href="#jump_to"><img id='arrow' class='inner' src='https://s3-us-west-2.amazonaws.com/beike-s3/static/img/01/arrow.png'></a>
	</div>
	<div class='outer'>
		<p>下方选择城市</p>
 	</div>	
	<div class='outer' id='my_city_div'>
		<img id='my_city_img' src='{{default_city.image_selected_url}}'>
		<div id='my_city_name'>{{default_city.name}}</div>
	</div>
	<div class='outer'>
		<input type="image" src="https://s3-us-west-2.amazonaws.com/beike-s3/static/img/01/start.png">
	</div>
	<A NAME="jump_to">
	<div id='cities' class='outer'>
	{% for city in cities %}
	<span onclick="select_city({{city.id}},'{{city.name}}','{{city.image_selected_url}}');">
			<img class='city_img' src='{{city.image_url}}'>
		</span>
	{% endfor %}
	<input type="hidden" id="city_id" name="city_id" value="{{default_city.id}}">
	</div>
</form>
</div>
</body>
</html>
