<!DOCTYPE HTML>
<html lang="zh">
<head>
	<meta name="viewport" content = "width=device-width ,  user-scalable=no">
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/static/mystyle.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
	<script src="/static/me.js"></script>
</head>
<body>
{% if error %}
	<p> {{error}} </p>
{% endif %}
First visist, please enter your email address:
<form action="/{{user_id}}/me/create/" method="post" enctype="multipart/form-data">{% csrf_token %}
Email: <input type="text" name="user_email"></br>
<input type="submit" value="下一页">
<input type="hidden" name="city_id"  value="{{city_id}}">
</form>
</body>
</html>
