<!DOCTYPE HTML>
<html lang="zh">

<head>
    <meta name="viewport" content="width=device-width ,  user-scalable=no">
    <meta charset="UTF-8">
    <!-- jquery library -->
    <script src="/static/jquery/jquery-1.8.3.js "></script>
    <script src="/static/jquery/jquery.mobile-1.4.2.js"></script>
    <script type="text/javascript" src="/static/jquery/jquery.validate.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/jquery/jquery.mobile-1.4.2.css">

    <!--js library for s3 upload-->
    <script src="/static/lodash.js"></script>
    <script type="text/javascript" src="/static/s3upload.js"></script>
    <script src="/static/exif.js"></script>
    <script src="/static/binaryajax.js"></script>

    <!-- beike customized css and js -->
    <link rel="stylesheet" href="/static/common.css">
    <link rel="stylesheet" href="/static/detail.css">
    <script src="/static/buy.js"></script>
    <script src="/static/sell.js"></script>
    <script src="/static/common.js"></script>
    <script type="text/javascript" src="/static/jquery.touchSwipe.min.js"></script>

    <script type="text/javascript">
        function getLatitudeLongtitude(position) {
            var latitude = position.coords.latitude;
            var longitude = position.coords.longitude;
            $.ajax({
                type: "get",
                url: "get_city_by_latlong",
                dataType: "json",
                data: {
                    latitude: latitude,
                    longitude: longitude
                }
            }).then(function(data) {
                $("#city").text(data.city_name);
                $("#city_id").val(data.city_id);
                $("#district").text(data.lv1_district_name);
                $("#zipcode").val(data.zipcode);
                $("#latitude").val(latitude);
                $("#longitude").val(longitude);
            });
        }

        function getCurrentPositionDeferred(options) {
            var deferred = $.Deferred();
            navigator.geolocation.getCurrentPosition(deferred.resolve, deferred.reject, options);
            return deferred.promise();
        };

        $(document).ready(function() {
            if (navigator.geolocation) {
                // navigator.geolocation.getCurrentPosition(getLatitudeLongtitude);
                getCurrentPositionDeferred({
                    enableHighAccuracy: true
                }).done(function(position) {
                    getLatitudeLongtitude(position)
                }).fail(function() {
                    console.log("getCurrentPositionDeferred call failed")
                }).always(function() {
                    //do nothing
                });
            } else {
                alert("not enabled.")
            }
        });

        $(document).on("click", "#getzipcode", function() {
            var zipcode = $('#zipcode').val();
            if (zipcode) {
                $.ajax({
                    type: "get",
                    url: "get_city",
                    dataType: "json",
                    data: {
                        zipcode: zipcode,
                    }
                }).then(function(data) {
                    console.log(data);
                    $("#city").text(data.city_name);
                    $("#district").text(data.lv1_district_name);
                    $("#latitude").val(data.latitude);
                    $("#longitude").val(data.longitude);
                });
            }
        });

        $(document).delegate("#signup", "pageinit", function(event) {
            $('form').validate({
                rules: {
                    user_email: {
                        required: true,
                        email: true,
                        remote: {
                            url: "check_email",
                            type: "post"
                        }
                    }
                },
                messages: {
                    user_email: {
                        remote: "该email已经被使用"
                    }
                }
            });
        });
    </script>
</head>

<body>
    <div id="signup" data-role="page">

        <div data-role="content" style="padding: 0">
            <form action="/me/create/" method="post" enctype="multipart/form-data">{% csrf_token %}
                <div class="ui-grid-solo" style="background-color: rgb(35,192,148);">
                    <div class="ui-grid-solo">
                        <div class="ui-block-a" style="text-align: center; width: 100% !important;">
                            <img style="width: 250px; height: 180px;" src="/static/images/signup/logo.png" />
                        </div>
                    </div>
                    <div class="ui-grid-solo" style="text-align: center; width: 100% !important;">
                        <input type="text" id='user_name' name="user_name" placeholder="用户名:" data-rule-required="true" data-rule-content="true" data-msg-required="请输入用户名" />
                    </div>
                    <div class="ui-grid-solo" style="text-align: center; width: 100% !important;">
                        <input id='user_email' type="email" name="user_email" placeholder="邮箱:" data-rule-required="true" data-rule-content="true" data-msg-required="请输入邮箱" />
                    </div>
                </div>
                <div class="ui-grid-solo" style="background-color: rgb(135,192,148);">
                    <div class="ui-grid-solo" style="text-align: center; width: 100% !important;">
                        <img style="width: 80px; height: 100px;" src="/static/images/signup/location_icon.png" />
                        <div style="display:block" id='city' name='city'></div>
                        <input type="hidden" id="city_id" name="city_id" value="" />
                        <input id="zipcode" name="zipcode" placeholder="若您不在上方城市，请输入正确的zip code" data-rule-required="true" data-rule-content="true" data-msg-required="请输入zipcode" />
                        <a href="#" id="getzipcode" data-role="button" data-icon="check">获取城市</a>
                    </div>
                    <input type="hidden" name="latitude" id="latitude" />
                    <input type="hidden" name="longitude" id="longitude" />
                    <div class="ui-grid-solo" style="text-align: center; width: 100% !important;">
                        <input type="image" style="width: 100px; length: 100px;" src="/static/images/signup/start.png" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>
