<!DOCTYPE HTML>
<html lang="zh">
<head>
	<meta name="viewport" content = "width=device-width ,  user-scalable=no">
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/static/mystyle.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
	<script src="/static/me.js"></script>
</head>
<body>
<div id="error">
{% if error != "" %}
	<p> {{error}} </p>
{% endif %}
</div>
<div id="profile">
	<p>--------------- 个人资料 ----------------</p>
	<form action="/{{user.wx_id}}/me/save_profile/" method="post" enctype="multipart/form-data">{% csrf_token %}
		用户名：<input type="text" name="user_name" placeholder={{user.name}} value={{user.name}}></br>
		邮箱：<input type="text" name="user_email" placeholder={{user.email}} value={{user.email}}></br>
		地区：<select name="area_city">
		{% for city in cities %}
			{% if city.name == user.area.city %}
				<option value="{{city.name}}" selected>{{city.name}}</option>
			{% else %}
				<option value="{{city.name}}">{{city.name}}</option>
			{% endif %}
		{% endfor %}
		,</select>

		<select name="area_state">
		{% for state in states %}
			{% if state == user.area.state_or_region %}
				<option value="{{state.name}}" selected>{{state.name}}</option>
			{% else %}
				<option value="{{state.name}}">{{state.name}}</option>
			{% endif %}
		{% endfor %}
		</select></br>
		<input type="submit" id="save_profile" value="Save">
	</form>
</div>
<div id="notification">
	<p>--------------- 通知设置 ----------------</p>
	<form action="/{{user.wx_id}}/me/save_notification/" method="post" enctype="multipart/form-data">{% csrf_token %}
	当前选项：
		<select name="notification">
		{% for notification in notifications %}
			{% if notification.description == user.notification.description %}
				<option value="{{notification.description}}" selected>{{notification.description}}</option>
			{% else %}
				<option value="{{notification.description}}">{{notification.description}}</option>
			{% endif %}
		{% endfor %}
		</select></br>
	<input type="submit" id="save_notification" value="Save">
<div id="privacy">
	</form>
	<p>--------------- 隐私设置 ----------------</p>
	<form action="/{{user.wx_id}}/me/save_privacy/" method="post" enctype="multipart/form-data">{% csrf_token %}
		当前选项：<select name="privacy">
		{% for privacy in privacies %}
			{% if privacy.description == user.privacy.description %}
				<option value="{{privacy.description}}" selected>{{privacy.description}}</option>
			{% else %}
				<option value="{{privacy.description}}">{{privacy.description}}</option>
			{% endif %}
		{% endfor %}
		</select></br>
	<input type="submit" id="save_privacy" value="Save">
	</form>
</div>

</div>
</body>
</html>
