<div data-role="footer" class="footer" data-position="fixed" data-tap-toggle="false" data-id="footer">
<!--  data-hide-during-focus="input" -->
        <div class="footer-left">
            <a href="/" data-ajax="false">
                <img height="28px" width="30px" style="padding:10px 5px 5px 10px;" src="/static/images/navigation/homepage.png" />
            </a>
        </div>
    <div class="footer-right">
        <div class="footer-item">
            <a class="footer-link" href="/buy/form/" data-ajax="false">
                <img class="footer-icon" src="/static/images/navigation/buy_form{{ buy|default:'' }}.png" />
                <div class="footer-text {{ buy|default:'' }}">我要买</div>
            </a>
        </div>
        <div class="footer-item">
            <a class="footer-link" href="/sell/all_list/" data-ajax="false">
                <img class="footer-icon" src="/static/images/navigation/sell_posts{{ sell_list|default:'' }}.png" />
                <div class="footer-text {{ sell_list|default:'' }}">周边物品</div>
            </a>
        </div>
        <div class="footer-item">
            <a class="footer-link" href="/sell/form/" data-ajax="false">
                <img class="footer-icon" width="50px" src="/static/images/navigation/sell_form{{ sell|default:'' }}.png" />
                <div class="footer-text {{ sell|default:'' }}">我要卖</div>
            </a>
        </div>
        <div class="footer-item">
            <a class="footer-link" href="/buy/all_list/" data-ajax="false">
                <img class="footer-icon" width="50px" src="/static/images/navigation/buy_posts{{ buy_list|default:'' }}.png" />
                <div class="footer-text {{ buy_list|default:'' }}">周边需求</div>
            </a>
        </div>
    </div>
</div>
