<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="user-scalable=no, width=device-width initial-scale=1"/>
    <link rel="stylesheet" href="/static/min/jMobile.min.css">
    <link rel="stylesheet" href="/static/jquery/themes/jquery.mobile.icons.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <!--link rel="stylesheet" href="https://www.dropbox.com/s/y9ydo3em6n4g8qz/extra.css?dl=1"-->
    
    <script src="/static/min/jquery.1.8.3.mobile.1.4.2.min.js"></script>
    <script src="/static/min/libs.wx.min.js"></script>
    <script src="/static/js/scripts.min.js"></script>
    <!--script src="/static/js/common.js"></script>
    <script src="/static/js/form.js"></script>
    <script src="/static/js/post.js"></script>
    <script src="/static/js/detail.js"></script>
    <script src="/static/js/runscript.js"></script-->
    <title>{{ title|default:"千贝科技" }}</title>
</head>
