<!DOCTYPE HTML>
<html style="height: 100%;">

{% include "head.html" %}

<body style="height: 100%;">
<div id="main" data-role="page"> 
    <div class="main-top">
        <div class="main-top-background"><img class="main-top-logo" src="/static/images/homepage/logo.png" /></div>
        <div id="city" class="main-city-box">
            <a href="/user/{{user.id}}/edit_address/" class="main-city">
                <img class="main-city-icon" src="/static/images/homepage/citymark.png" />
                <span class="main-city-text">{{city|default:"获取位置"}}</span>
            </a>
        </div>
    </div>

    <div class="main-bottom">
        <div class="main-button-box">
            <a class="main-button" href="/buy/form/">
                <img class="main-button" src="/static/images/homepage/buy.png" />
            </a>
        </div>
        <div class="main-button-box">
            <a class="main-button" href="/sell/form/">
                <img class="main-button" src="/static/images/homepage/sell.png" />
            </a>
        </div>
        <div class="main-button-box">
            <a class="main-button" href="/mine/">
                <img class="main-button" src="/static/images/homepage/mine.png" />
            </a>
        </div>
        <div class="main-button-box">
            <a class="main-button" href="/sell/all_list/">
                <img class="main-button" src="/static/images/homepage/nearbypost.png" />
            </a>
        </div>
        <div class="main-button-box">
            <a class="main-button" href="/buy/all_list/">
                <img class="main-button" src="/static/images/homepage/nearbyrequest.png" />
            </a>
        </div>
        <div class="main-button-box">
            <a class="main-button" href="/about/">
                <img class="main-button" src="/static/images/homepage/help.png" />
            </a>
        </div>
    </div>
    <div data-role="header" id="notification-banner" style="display:none;">
        <p style="color:red; margin: 0">Android版微信不支持照片上传，请点击右上方选项移步至浏览器使用</p>
    </div>
</div>
<iframe class="refresh-title" style="display:none;" src="/about/"></iframe>
</body>
<script type="text/javascript">
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-55123643-1', 'auto');
            ga('send', 'pageview');


            function isAndroidWeixin() {
                var ua = navigator.userAgent.toLowerCase();
                if (ua.match(/android/i) == "android" &&
                    ua.match(/MicroMessenger/i) == "micromessenger") {
                    return true;
                } else {
                    return false;
                }
            }
            if (isAndroidWeixin()) {
                //$('#notification-banner').show();
            }
        </script>
</html>
