<!DOCTYPE HTML>
<html lang="zh">
	<head>
		<meta name="viewport" content = "width=device-width ,  user-scalable=no">
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="/static/mystyle.css">
	</head>
	<body>
		<a href="buy/form/" id="mainMenuBackGround">
		Wish to buy
		</a>
		<a href="sell/form/" id="mainMenuBackGround">
		Wish to sell		
		</a>
		<a href="sell/all_list/" id="mainMenuBackGround">
		Sells Nearby
		</a>
		<a href="buy/all_list/" id="mainMenuBackGround">
		Buys Nearby	
		</a>
		<a href="history/" id="mainMenuBackGround">
	  	My History	
		</a>
	</body>
</html>
