<!DOCTYPE HTML>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<html lang="zh">
	<head>
		<meta name="viewport" content = "width=device-width ,  user-scalable=no">
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="/static/mystyle.css">
	</head>
	<body>
		<img src='https://s3-us-west-2.amazonaws.com/beike-s3/static/img/test/1.png' class='test'>
		<img src='https://s3-us-west-2.amazonaws.com/beike-s3/static/img/test/2.png' class='test'>
		<img src='https://s3-us-west-2.amazonaws.com/beike-s3/static/img/test/3.png' class='test'>
		<img src='https://s3-us-west-2.amazonaws.com/beike-s3/static/img/test/4.png' class='test'>
		<img src='https://s3-us-west-2.amazonaws.com/beike-s3/static/img/test/5.png' class='test'>
		<img src='https://s3-us-west-2.amazonaws.com/beike-s3/static/img/test/6.png' class='test'>
		<img src='https://s3-us-west-2.amazonaws.com/beike-s3/static/img/test/7.png' class='test2'>
		<img src='https://s3-us-west-2.amazonaws.com/beike-s3/static/img/test/8.png' class='test2'>
	</body>
</html>
