/* CSS for general elements */
html, body, div, img, span, p, a {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; 
}

div, img {
    display: block;
}

body {
    line-height: 1;
    font-family: \5FAE\8F6F\96C5\9ED1, sans-serif !important;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}

.header.ui-header {
    height: 50px;
    background-color: #23c094;
    font-size: 20px;
    color: white;
    line-height: 50px;
    text-align: center;
    border-width: 0;
    font-weight: normal;
}

.footer.ui-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-width: 0;
    box-shadow: 0 0 6px #666;
}

.wrapper { 
    /**/
    width: 100%; height: auto;
    /*/
    width: 640px; height: 1010px; 
    /**/
}

/*
.base-style {
    font-size: 14px;
    background-color: rgb(226,229,220);
}*/

/* CSS for signup page */
 #bkgd {
    margin:0;
    padding:0;
    background:url(https://s3-us-west-2.amazonaws.com/beike-s3/static/img/01/green_bkgd.png) center center fixed no-repeat;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
}
#logo {
    margin-top:3em;
    margin-left:5em;
}
.signup-outer {
    width: 100%;
    text-align: center;
}
.signup-inner {
    display: inline-block;
}


/* CSS for index page */
.main-top {
    position: relative !important;
    /*height: 545px;*/
}

div.city {
    position: absolute;
    right: 20px;
    top: -6px;
    min-width: 70px;
    padding: 11px 10px 6px 9px;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0 0 6px #333;
    text-align: center;
}

a.city-link { text-decoration: none; color: #218868; }

img.city-mark{
    display: inline;
    height: 19px;
    vertical-align: text-bottom;
    margin-right: 0px;
}

span.city-text {
    font-size: 14px;
    color:#24c498;
}

.main-bottom {
    background-color: #dfe7da;
    box-sizing: border-box;
}

@media only screen and (max-width: 719px) {
.main-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
}}

@media only screen and (min-width: 720px) {
.main-bottom {
    padding-top: 50px;
    padding-bottom: 50px;
}}

.main-button {
    width: 60%;
    margin-left: 22%;
    margin-right: 7%;
    margin-top: 5%
}


/* CSS for buypost creation page */
#phone_number_div {
    display: none;
}
#email_div {
    display: none;
}

/* CSS for image uploader */
#image-uploader {
    max-width: 600px;
    width: 100%;
    height: 300px;
}

.image-uploader-image {
    width: 100%;
    height: 250px;
    background-color: rgb(213,213,213);
    background-image: url('/static/images/sell_post/camera_bkg.png');
    background-size: 180px 150px;
    background-position: center;
    background-repeat: no-repeat;
}

#image_thumbnails_div {
    width: 100%;
    height: 65px;
    background-color: rgb(213,213,213);
}

#progressbar {
    width: 60%;
    position: absolute;
    top: 100px;
    left: 20%;
}

.progressbar-wrapper {
    position: relative; text-align: center;
}

.new-image {
    position: relative;
    width: 20%;
    height:65px;
    text-align: center;
    background-color: rgb(172,172,172);
    float: left;
}

.new-image-icon {
    width: 80%;
    height: 70%;
    position:absolute;
    left: 10%;
    right: 10%;
    top: 15%;
    bottom: 15%;
}

.image-thumbnail-box {
    position: relative;
    width: 25%;
    height: 100%;
    float: left;
}

.image-thumbnail-top {
    position: absolute;
    height: 6px;
    width: 100%;
    background-color: rgb(172,172,172);
}

.image-thumbnail {
    width: 100%;
    height: 100%;
    border-right: solid 1px white;
}

/* CSS for buy/sell posts */
#buypost-list1, #buypost-list2, #sellpost-list1, #sellpost-list2 {
    width: 50%;
    padding: 4px;
    float: left;
    box-sizing: border-box;
}

#buypost-list1, #sellpost-list1 {padding-right: 0;}
#buypost-list2, #sellpost-list2 {padding-left: 0;}

div.post-item-div {
    width: 100%;
    /*height: 100px;*/
    box-sizing: border-box;
    padding: 4px;
}

a.post-item {
    display: block;
    position: relative;
    width: 100%;
    /*height: 90px;*/
    box-sizing: border-box;
    padding: 10px;
    border-radius: 8px;
    background: #fff;
    border: 1px solid #ddd;
    text-decoration: none;
}

a.post-item:hover {
    border-color: #bbb;
}

img.post-icon {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 7px;
    vertical-align: text-bottom;
    float: left;
}

span.post-title {
    display: block;
    font-size: 18px;
    color: black;
    font-weight: normal;
    line-height: 25px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

img.post-image {
    width: 100%;
    margin: 5px 0;
}

span.post-currency {
    color: #ff9933;
    font-size: 16px;
}

div.post-price {
    color: #666;
    padding-top: 5px;
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;
}

div.post-distance {
    color: #aaa;
    padding-top: 5px;
    font-size: 12px;
    font-weight: normal;
}

img#load-more {
    vertical-align: middle;
    width: 50px;
    margin: 0 auto;
    display: none;
}

/* css for buy/sell forms */

/*.form-button {
    height: 9px !important;
    line-height: 9px !important;
}*/

.form-grid {
    margin: 10px 0 !important;
}

.form-left {
    width: 24%;
    height: 50px;
    line-height: 50px;
    float: left;
    font-size: 16px;
    clear: both;
    color: #00CED1;
}

.form-right {
    width: 70%;
    float: right;
}

label.error {
    display: block;
    color: red;
    font-size: 14px;
    line-height: 1.4;
    padding-top: .5em;
    vertical-align: top;
    font-weight: bold;
    width: 200px;
    float: left;
}

.readonly {
    border: none;
    background-color: transparent;
    padding: 15px 0 15px 0;
}

#category-button.ui-btn {
    height: 2.2em;
    line-height: 2.1em;
    -webkit-border-radius: .6em;
    border-radius: .6em;
    background-color: #fff;
    text-shadow: 0 1px 0 #f3f3f3;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
    border: 1px solid #dddddd;
    text-align: left;
    font-weight: normal;
    padding: 1px 35px 0 6px;
}

.form-button.ui-btn {
    height: 2.1em;
    line-height: 2.1em;
    -webkit-border-radius: .6em;
    border-radius: .6em;
    padding: 0;
    color: #00CED1 !important;
}

.form-cond {
    height: 50px;
    line-height: 50px;
    text-align: center;
    padding: 5px;
}

.form-cond-img {
    margin: 0 auto;
    width: 60px;
    height: 40px;
}

.form-cond:hover {
    cursor: pointer;
}

img.contact-icon {
    margin: 5px auto 0;
    width: 40px;
}

img.contact-icon:hover {
    cursor: pointer;
}

img.contact-icon.hide {
    display: none;
}

#email_div, #phone_number_div {
    clear: both;
}

#lengthCounter {
    float: right;
    color: #00CED1;
    line-height: 50px;
    font-size: 14px;
}

#submit_btn {
    display: block;
    width: 120px;
    height: auto;
    margin: 30px auto;
}



/* CSS for mine */
.mine-menu-icon {
    display: inline;
    width: 40px;
    height: 40px;
    vertical-align: middle; 
}
