            #image_gallery
            {
                height:200px;
                width:200px;
                overflow:hidden;
                position:relative;
                margin-left: auto;
                margin-right: auto;
                border : 1px solid black;
            }

            #imgs 
            {
                -webkit-transition-property: -webkit-transform;
                -webkit-transition-duration: 0.5s;
                -webkit-transition-timing-function: ease-out;
                padding:0px;
                margin:0px;

                width:610px;
                height: 200px;

                /*apply a transfor to kick in the hardware acceleration.  Without this, the first time we add the transform you get odd rendering of the divs (half missing) */
                -webkit-transform: translate3d(0px,0px,0px); 
            }

            #imgs img
            {
                padding:0px;
                margin:0px;
                max-width:200px;
                max-height:200px;
                position: absolute;
                margin: auto;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                -webkit-transform: translate3d(0px,0px,0px); 
            }

            /*#imgs img*/
            #imgs span
            {
                float:left;
                display:inline;
                padding:0px;
                margin:0px;
                width:200px;
                height:200px;

                /*apply a transfor to kick in the hardware acceleration.  Without this, the first time we add the transform you get odd rendering of the divs (half missing) */
                -webkit-transform: translate3d(0px,0px,0px); 
            }

            /*.container
            {
                max-width:768px;
                margin-bottom:20px;
            }*/