
#mainMenuBackGround
{ 
  width:100px;
  height:100px;
	display:inline-block;
  background-color:rgba(192,192,192,0.5);
	padding:3px;
	margin:3px;
} 

a:link {text-decoration:none;}

body{
    width: 100%;
    height: 100%;
    position: absolute;
    margin:0;
    padding:0;
    background:url(https://s3-us-west-2.amazonaws.com/beike-s3/static/img/02/background.png) center center fixed no-repeat;
    -moz-background-size: cover;
    background-size: cover;
}

#logo_background{
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
    z-index:-1;
    background:url(https://s3-us-west-2.amazonaws.com/beike-s3/static/img/02/logo_background.png) center center no-repeat;
    -moz-background-size: cover;
    background-size:cover;
    position:absolute;
}
#logo_content{
    width:100%;
    position:absolute;
}
.outer_top{
    width: 100%;
    height: 5%;
}

.outer_mid{
    width: 100%;
    height:47.5%;
    text-align: center;
    position:relative;
}

.outer_bot{
    width: 100%;
    height: 47.5%;
    text-align: center;
}

.inner{
    display: inline-block;
}

.head_text{
    float:left;
    margin-top: 0.4em;
}

.head_text_right{
    float:right;
    margin-top: 0.4em;
}

.top_left{
    width: 50%;
    text-align:left;
    position:absolute;
}

.top_right{
    width: 50%;
    text-align:right;
    position:absolute;
    left: 50%;
}

#logo{
    margin-top: 10%;
    margin-left:20%
}

#text{
    margin-top:40%;
    font-family:"Microsoft Yahei";
}

#dot{
    margin-top: 10%;
    margin-bottom: 5%;
}
#button{
    width: 50%;
    margin-left:27%;
    margin-right:7%;
    margin-top:5%
}


.test{
	width:4em;
	height:5em;
}

.test2{
	width:2em;
	height:2em;
}
