/* CSS for element ul and li. Mainly for nearby-sellpost and nearby-buypost page */
.ui-listview li {
    margin: 10px;
    border-radius: 0.25em;
    background:#ffffff !important;
    border:none;
    border-bottom: 1px;
    border-top: 1px solid #eeeeee;
    border-top: 0;
    margin-bottom: 10px !important;
}

.ui-listview {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ui-block-a, .ui-block-b {
    padding-top: 10px !important;
}

.ui-listview-inset > .ui-li-static,
.ui-listview-inset > .ui-li-divider,
.ui-listview-inset > li > a.ui-btn {
    border-right-width: 1px;
    border-left-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    padding: .5em .5em;
}

.ui-mobile .ui-page .ui-slider-input,
.ui-mobile .ui-dialog .ui-slider-input {
    display : none;
}

.vertical-li {
    min-height: 150px;
    max-width:150px;
    margin: 5px !important;
}

.horizontal-li {
    min-height: 100px;
    max-width:150px;
    margin: 5px !important;
}

/* header banner */
#header img {
    width: 100%;
    float: left;
    display: inline;
}

/* upload image */
#current_image_div {
    border: 2px solid gray;
    position: relative;
    height: 300px;
    text-align: center;
}

.potrait_image {
    height: 100%;
    text-align: center;
}

.landscape_image {
    width: 100%;
    vertical-align: middle;
}

#upload_status {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    margin:0;
    padding:0;
    background: rgba(0, 0, 0, 0.5);
    color: #FFF;
    font-family: arial;
    font-size: 8px;
    font-weight: bold;
}

.hidden_file {
    width: 0px;
    height: 0px;
    overflow: hidden;
    display:none;
}

/* upload image controls */
#button_and_thumbnails {
    height: 70px;
    background-color: rgb(171,171,171);

}

#image-section {
    width: 80%;
    float: left;
}

.delete_image_buttons {
    position: absolute;
    text-align: center;
    width: 33%;
    height: 10px;
    margin-top: -8px;
}

.delete_image_buttons p {
    color: white;
    display: none;
    background-color: #23C094;
    font-size: 10px;
}

#choose_file {
    width: 20%;
    float: left;
}

#choose_file img {
    width: 100%;
    height: 60px;
    padding-top: 10px;
    text-align: center;
}

.img_controls {
    height: 70px;
    width: 33%;
    float: left;
}

.img_previews {
    margin-top: 10px;
    height: 60px;
}

.img_previews img {
    width: 100%;
    height: 100%;
    border-left: 1px solid gray;
}

#down-arrow {
    text-align: center;
    margin-top: -1px;
}

#down-arrow img {
    height: 100%;
    text-align: center;
}

/* form items */
.sell-form .form-labels {
    margin-top: 16px;
    float: left;
    width: 20%;
    color: #23C094;
}

.sell-form .form-labels label {
//    font-weight: bold;
}

.sell-form .form-contents {
    float: left;
    width: 80%;
}

/* condition slider */
.condition {
    float:left;
    width:16.6%;
}

.ui-slider-track {
    margin: 0 15px 0 15px;
}

.slider-scale-common {
    position:absolute;
    display: inline-block;
    top: 0;
    color: #23C094;
}

.slider-scale-div1 {
    left: 0%;
}

.slider-scale-div2 {
    left: 25%;
}

.slider-scale-div3 {
    left: 50%;
}

.slider-scale-div4 {
    left: 75%;
}

.slider-scale-div5 {
    left: 100%;
}

.sell-form .form-labels-up {
    margin-top: 16px;
    color: #23C094;
}

.sell-form .form-contents-bottom {

}

#validate_msg {
    color: red;
    float: left;
//    margin-left: 1em;
    margin-bottom: 2em;
}

/* footer image links */
.footer-items {
    height: 60px;
    padding: 10px 12px;
}
