<!DOCTYPE HTML>
<html lang="zh">

<head>
    <meta name="viewport" content="width=device-width ,  user-scalable=no">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/mystyle.css">
    <link rel="stylesheet" type="text/css" href="/static/jquery/jquery.mobile-1.4.2.css">
    <script src="/static/jquery/jquery-1.8.3.js "></script>
    <script src="/static/jquery/jquery.mobile-1.4.2.js"></script>
    <script type="text/javascript">
    var pageNum = 1;
    var hasMore = true;
    var postLoader = (function($, undefined) {
        var pub = {};
        pub.init = function() {
            //Refresh the posts when scrolling to the bottom
            $(window).live("hitBottom",
                function() {pub.getAndDisplayPosts();});
        };

        pub.getAndDisplayPosts = function() {
            //Starting loading animation
            $(".selector").loader("loading");
            //Get posts and add success callback using then
            getPosts().then(function() {
                //Stop loading animation on success
                $(".selector").loader("hide");
            });
        };

        function getPosts() {
            //Get posts via ajax
            return $.ajax({
                type: "get",
                url: "",
                dataType: "json",
                data: {
                    pageNum: pageNum
                }
            }).then(function(data) {
                displayPosts(data);
            });
        }

        function displayPosts(posts) {
            var postList = $("#postList");
            var i = 0, len = posts.length;
            if (len == 0) {
                hasMore = false;
            }
            //process posts data
            for (; i < len; i++) {
                var template = '<li data-icon="false">' +
                    '<a href="#"><img src="/static/images/nearby_buy_posts/plus_sign.png"/><span>' +
                    posts[i]["fields"]["title"] + '<br/>' + posts[i]["fields"]["min_price"] + ' - ' +
                    posts[i]["fields"]["max_price"] + '</span><span style="float: right; ">xyz</span></a></li>'
                postList.append(template);
            }
            postList.listview("refresh");
        }
        return pub;
    }(jQuery));
    postLoader.init();
    postLoader.getAndDisplayPosts();

    $(document).scroll(function() {
        if ($(document).height() > $(window).height() && hasMore) {
            if ($(window).scrollTop() >= $(document).height() - $(window).height()) {
                pageNum++;
                postLoader.getAndDisplayPosts();
            }
        }
    });
    </script>

</head>
<body>
    <div data-role="header">
        <img style="width:100%;height:100%; max-width: 680px;" src="/static/images/nearby_buy_posts/header.png" />
    </div>
    <div id="buy-list" data-role="main">
        <div>
            <ul id="postList" data-role="listview">
            </ul>
        </div>
    </div>
    <div data-role="footer">
        <img style="width:100%;height:100%; max-width: 680px;" src="/static/images/nearby_buy_posts/footer.png" />
    </div>
</body>

</html>