<!DOCTYPE HTML>
<html>

{% include "head.html" %}

<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="user-scalable=no, width=device-width initial-scale=1"/>
    
    <!-- jquery library -->
    <script type="text/javascript" src="/static/jquery/jquery-1.8.3.min.js "></script>
    <script type="text/javascript" src="/static/jquery/jquery.mobile-1.4.2.min.js"></script>
    <script type="text/javascript" src="/static/jquery/jquery.validate.js"></script>
    <script type="text/javascript" src="/static/jQMProgressBar.js"></script>
    <script type="text/javascript" src="/static/exif.js"></script>
    <script type="text/javascript" src="/static/binaryajax.js"></script>
    
    <link rel="stylesheet" type="text/css" href="/static/jquery/jquery.mobile.structure-1.4.2.min.css">
    <link rel="stylesheet" type="text/css" href="/static/jquery/beike-themes/beike-theme.css">
    <link rel="stylesheet" type="text/css" href="/static/jquery/beike-themes/jquery.mobile.icons.min.css">
    <link rel="stylesheet" type="text/css" href="/static/jQMProgressBar.css">
    
    <!-- beike customized css and js -->
    <link rel="stylesheet" href="/static/common.css">
    <script src="/static/jquery.fileupload.js"></script>
    <script src="/static/jquery.touchSwipe.min.js"></script>
    <script src="/static/common.js"></script>
    <title>千贝科技</title>
</head>
<!--head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <!-- jquery library ->
    <script type="text/javascript" src="/static/jquery/jquery-1.8.3.js "></script>
    <script type="text/javascript" src="/static/jquery/jquery.mobile-1.4.2.js"></script>
    <script type="text/javascript" src="/static/jquery/jquery.validate.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/jquery/jquery.mobile-1.4.2.css">
    <link rel="stylesheet" type="text/css" href="/static/jquery/beike-themes/beike-theme.css">
    <link rel="stylesheet" type="text/css" href="/static/jquery/beike-themes/jquery.mobile.icons.min.css">

    <link rel="stylesheet" type="text/css" href="/static/jQMProgressBar.css">
    <script type="text/javascript" src="/static/jQMProgressBar.js"></script>

    <script type="text/javascript" src="/static/exif.js"></script>
    <script type="text/javascript" src="/static/binaryajax.js"></script>

    <!-- beike customized css and js ->
    <link rel="stylesheet" href="/static/common.css">
    <link rel="stylesheet" href="/static/detail.css">
    <link rel="stylesheet" href="/static/sell.css">
    <link rel="stylesheet" href="/static/mine.css">
    <script src="/static/jquery.fileupload.js"></script>
    <script src="/static/jquery.touchSwipe.min.js"></script>
    <script src="/static/common.js"></script>
    <script src="/static/buy_form.js"></script>
    <script src="/static/buy_posts.js"></script>
    <script src="/static/sell_form.js"></script>
    <script src="/static/sell_posts.js"></script>
    <title>千贝科技</title>
</head-->

<body>
    <div data-role="page" id="buy-form" data-theme="a" data-fullscreen="true" class="base-style">
        <div data-role="header">
            <div style="background-color: rgb(35,192,148);">
                <div class="ui-grid-b">
                    <div class="ui-block-a">
                    </div>
                    <div class="ui-block-b">
                        <p style="text-align:center; color:white">需求发布</p>
                    </div>
                    <div class="ui-block-a">
                    </div>
                </div>
            </div>
        </div>

        <div data-role="content">
            <form action="/buy/form_submit/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="ui-grid-a form-element-grid">
                    <div class="ui-block-a" style="width:20%;">
                        <div class="field-label-inner-div">标&nbsp;&nbsp;&nbsp;&nbsp;题</div>
                    </div>
                    <div class="ui-block-b" style="width:80%">
                        <input type="text" name="title" id="title" placeholder="请输入标题" data-rule-required="true" data-rule-content="true" data-msg-required="请输入标题" />
                    </div>
                </div>
                <div class="ui-grid-a form-element-grid">
                    <div class="ui-block-a" style="width:20%;">
                        <div class="field-label-inner-div">类&nbsp;&nbsp;&nbsp;&nbsp;别</div>
                    </div>
                    <div class="ui-block-b" style="width:80%;">
                        <select name='category' id="category" data-placeholder="true">
                            {% for category in categories %}
                            <option value={{ category.id }}>{{category.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="ui-grid-b form-element-grid">
                    <div class="ui-block-a" style="width:20%;">
                        <div class="field-label-inner-div">心动价</div>
                    </div>
                    <div class="ui-block-c" style="width:80%;">
                        <input type="number" id="price" name="price" placeholder="请输入心动价格" data-rule-required="true" data-rule-content="true" data-msg-required="请输入心动价格">
                    </div>
                </div>

                <div>
                    <input type="hidden" name="latitude" id="buy_form_latitude"></input>
                    <input type="hidden" name="longitude" id="buy_form_longitude"></input>
                </div>

                <div class="ui-grid-b form-element-grid">
                    <div class="ui-block-a" style="width:20%;">
                        <div class="field-label-inner-div">邮&nbsp;&nbsp;&nbsp;&nbsp;编</div>
                    </div>
                    <div class="ui-block-b" style="width:50%;">
                        <input type="text" name="zipcode" id="buy_form_zipcode" placeholder="zipcode" data-rule-required="true" data-rule-content="true" data-msg-required="输入zipcode并按修改">
                    </div>
                    <div class="ui-block-c" style="width:30%;">
                        <a href="" data-role="button" onclick="getLocationByZipcodeForBuyForm(); return false;">
                            <span class="text-p">更新</span>
                        </a>
                    </div>
                </div>

                <div class="ui-grid-a form-element-grid">
                    <div class="ui-block-a" style="width:20%;">
                        <div class="field-label-inner-div">城&nbsp;&nbsp;&nbsp;&nbsp;市</div>
                    </div>
                    <div class="ui-block-b" style="width:80%;">
                        <input readonly style="border: none; background-color: transparent;" data-role="none" name="city_name" id="buy_form_city_name" class="field-value-inner-div" data-rule-required="true" data-rule-content="true" data-msg-required="输入zipcode并按修改"></input>
                    </div>
                </div>

                <div class="ui-grid-a form-element-grid">
                    <div class="ui-block-a" style="width:30%;">
                        <div id="prefer-contact" class="field-label-inner-div">联系方式</div>
                    </div>
                    <div class="ui-block-b" style="width:70%;">

                        <div class="ui-grid-b">
                            <div class="ui-block-a">
                                <img style="display:block; width: 40px; height: 40px;" id="email-icon" onclick="clickEmailContact();" src="/static/images/general/email_icon.png" />
                                <img style="display:none; width: 40px; height: 45px;" id="email-icon-clicked" onclick="clickEmailContact();" src="/static/images/general/email_icon_clicked.png" />
                            </div>
                            <div class="ui-block-b">
                                <img style="display:block; width: 40px; height: 40px;" id="phone-icon" onclick="clickPhoneContact();" src="/static/images/general/phone_icon.png" />
                                <img style="display:none; width: 40px; height: 45px;" id="phone-icon-clicked" onclick="clickPhoneContact();" src="/static/images/general/phone_icon_clicked.png" />
                            </div>
                            <div class="ui-block-c">
                                <img style="display:block; width: 40px; height: 40px;" id="sms-icon" onclick="clickSmsContact();" src="/static/images/general/sms_icon.png" />
                                <img style="display:none; width: 40px; height: 45px;" id="sms-icon-clicked" onclick="clickSmsContact();" src="/static/images/general/sms_icon_clicked.png" />
                            </div>
                        </div>

                        <!--Use ui-grid-a because I cannot resolve the jquery validation css issue-->
                        <!--error message was always displayed inside the next input-->
                        <!--TO-DO: fix this issue and use just a single div-->

                        <input type="hidden" name="sms-checked" id="sms-checked" value="off"></input>
                        <input type="hidden" name="phone-checked" id="phone-checked" value="off"></input>
                        <input type="hidden" name="email-checked" id="email-checked" value="off"></input>

                        <div id="email_div" class="ui-grid-a">
                            <div class="ui-block-a" style="width:0"></div>
                            <div class="ui-block-b" style="width:100%">
                                {% if user.email and user.email != " " %}
                                <input type="text" id="email" name="email" placeholder="Email" value="{{user.email}}" data-rule-required="true" data-rule-content="true" data-msg-required="请输入email" />{% else %}
                                <input type="text" id="email" name="email" placeholder="Email" data-rule-required="true" data-rule-content="true" data-msg-required="请输入Email" />{% endif %}
                            </div>
                        </div>
                        <div id="phone_number_div" class="ui-grid-a">
                            <div class="ui-block-a" style="width:0"></div>
                            <div class="ui-block-b" style="width:100%">
                                {% if user.mobile_phone and user.mobile_phone != " " %}
                                <input type="text" id="phone_number" name="phone_number" placeholder="手机号码" value="{{user.mobile_phone}}" data-rule-required="true" data-rule-content="true" data-msg-required="请输入电话号码" />{% else %}
                                <input type="text" id="phone_number" name="phone_number" placeholder="手机号码" data-rule-required="true" data-rule-content="true" data-msg-required="请输入手机号码" />{% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui-grid-solo" style="margin: 20px 0;">
                    <div class="ui-grid-a">
                        <div class="ui-block-a">
                            <span class="text-p">其他描述</span>
                        </div>
                        <div class="ui-block-b">
                            <span id="lengthCounter" class="text-p" style="float:right">0/3000</span>
                        </div>
                    </div>
                    <div class="ui-grid-solo">
                        <textarea name="content" id="content" style="height: 150px !important;" placeholder="描述颜色、大小、形状、新旧等需求" data-rule-required="true" data-rule-content="true" data-msg-required="请输入详细描述" maxlength="3000"></textarea>
                    </div>
                </div>
                <div class="ui-grid-b" style="margin: 20px 0;">
                    <div class = "ui-block-a"></div>
                    <div class = "ui-block-b">
                        <input type="image" value="Submit" id="submit_btn" width="120px" height="auto" src="https://s3-us-west-2.amazonaws.com/beike-s3/static/img/04/submit.png">
                    </div>
                    <div class = "ui-block-c"></div>
                </div>
            </form>
        </div>
        <div data-role="footer">
            <div class="ui-grid-d" style="background-color: rgb(35,192,148);">
                <div class="ui-block-a">
                    <a href="/">
                        <img height="28px" width="30px" style="padding:10px 5px 5px 10px;" src='/static/images/navigation/homepage.png' />
                    </a>
                </div>
                <div class="ui-block-b">
                    <a href="/buy/form/">
                        <img height="50px" width="50px" src='/static/images/navigation/buy_form_clicked.png' />
                    </a>
                </div>
                <div class="ui-block-c">
                    <a href="/sell/form/">
                        <img height="50px" width="50px" src='/static/images/navigation/sell_form.png' />
                    </a>
                </div>
                <div class="ui-block-d">
                    <a href="/buy/all_list/">
                        <img height="50px" width="50px" src='/static/images/navigation/buy_posts.png' />
                    </a>
                </div>
                <div class="ui-block-e">
                    <a href="/sell/all_list/">
                        <img height="50px" width="50px" src='/static/images/navigation/sell_posts.png' />
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
