<!DOCTYPE HTML>
<html lang="zh">

{% include "head.html" %}

<body>
    <div id="nearby-buypost" data-role="page" data-fullscreen="true" class="base-style" style="background-color: rgb(226,229,220);">
        {% include "header.html" with title="周边需求" %}
        <div id="buy-list" data-role="main">
            <input type="hidden" id="num-per-page" name="num-per-page" value="{{num_per_page}}" />
            <!--div id="buypost-list"> a single datalist is sufficient </div-->
            <div class="ui-grid-a">
                <div class="ui-block-a">
                    <ul id="buypost-list-a" data-role="listview" data-theme="c" data-inset="true">
                    </ul>
                </div>
                <div class="ui-block-b">
                    <ul id="buypost-list-b" data-role="listview" data-theme="c" data-inset="true">
                    </ul>
                </div>
            </div>
            <div id="load-more"><img width="50px" height="50px" src="/static/images/general/loading_green.gif" /></div>
        </div>
        
        {% include "footer.html" with buy_list="_clicked" %}
    </div>

</body>

</html>
