<!DOCTYPE HTML>
<html lang="zh">

{% include "head.html" with title="我的资料" %}

<body>
<div data-role="page" id="user-page" data-fullscreen="true">
    {% include "header.html" with title="我的资料" %}
    <div data-role="content">
        {% if user_image %}
        <div class="user-image-box">
            <img class="user-image" src="{{user_image.image_url}}"/>
        </div>
        {% endif %}

        {% if user.name %}
        <div class="user-name"><p>{{user.name}}</p></div>
        {% endif %}
        
        {% include "profile.html" with user=user %}

        {% if is_owner %}
        <div class="detail-edit-box">
            <a class="detail-bottom-button" href="/user/{{user.id}}/edit/"><button class="submit-button">修 改</button></a>
            <div style="clear:both;"></div>
        </div>
        {% endif %}

        <div id="error">{% if error %}<p>{{error}}</p>{% endif %}</div>


    </div>
    {% include "footer.html" %}
</div>
<iframe class="refresh-title" style="display:none;" src="/about/"></iframe>
</body>

</html>
