<!DOCTYPE HTML>
<html lang="zh">

<head>
    <meta name="viewport" content="width=device-width ,  user-scalable=no">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width ,  user-scalable=no">
    <meta charset="UTF-8">
    <!-- jquery library -->
    <link rel="stylesheet" type="text/css" href="/static/jquery/jquery.mobile-1.4.2.css">
    <script src="/static/jquery/jquery-1.8.3.js "></script>
    <script src="/static/jquery/jquery.mobile-1.4.2.js"></script>

    <!--js library for s3 upload-->
    <script type="text/javascript" src="/static/s3upload.js"></script>
    <script src="/static/exif.js"></script>
    <script src="/static/binaryajax.js"></script>

    <!-- customized css and js -->
    <link rel="stylesheet" href="/static/common.css">
    <link rel="stylesheet" href="/static/detail.css">
    <script src="/static/buy.js"></script>
    <script src="/static/sell.js"></script>
    <script src="/static/common.js"></script>
    <script type="text/javascript" src="/static/jquery.touchSwipe.min.js"></script>
</head>

<body>
    <div data-role="page" id="main-page" data-theme="a">
        <link rel="stylesheet" type="text/css" href="/static/me.css">
        <div data-role="header" data-position="fixed">
        </div>
        <div data-role="content" style="padding:0;">
            <div id="current_image_div">

                {% if user_image %}
                <div style="display:table;margin:0 auto;">
                        <img id='profile_image' src='{{user_image.image_url}}' style="width: 80px;height:80px;border-radius: 50%;"/>
                </div>
                {% endif %}

                <div class="hidden_file">
                    <input type="file" id="image1" data-clear-btn="false" name="image" accept="image/*" onchange="image_s3_upload(this.id,'{{user.wx_id}}');" capture>
                </div>
                <p id="upload_status">status</p>
                <form action="/user/update_profile_image/" method="post" enctype="multipart/form-data">{% csrf_token %}
                    <input type="hidden" id="image_url" name="image_url" value="">
                    <input type="hidden" id="image_width" name="image_width" value="">
                    <input type="hidden" id="image_height" name="image_height" value="">
                    <input type="submit" id="save_image" value="Save">
                </form>
            </div>

        <form action="/user/save_profile/" method="post" enctype="multipart/form-data">{% csrf_token %}
           <div style="text-align:center;padding:2px;">
                <p style="display:inline;vertical-align:middle;font:20px arial,sans-serif;">{{user.name}}</p>
            </div>

            <div class="ui-grid-solo" style="clear:both;margin-top:20px;padding:5px 5% 5px 5%;background-color:#d1cfd1;">
                基本资料
            </div>

            <div class="ui-grid-a">
                    <div class="ui-block-a" style="width:25%;margin-left:5%;">
                        <div class="field-label-inner-div">邮&nbsp;&nbsp;&nbsp;&nbsp;箱</div>
                    </div>
                    <div class="ui-block-b" style="width:65%;margin-right:5%;">
                        <input type="text" name="email" id="email" value="{{user.email}}" data-rule-required="true" data-rule-content="true" data-msg-required="请输入email" />
                    </div>
            </div>

            <div class="ui-grid-a">
                    <div class="ui-block-a" style="width:25%;margin-left:5%;">
                        <div class="field-label-inner-div">学校/单位</div>
                    </div>
                    <div class="ui-block-b" style="width:65%;margin-right:5%;">
                        <input type="text" name="organization" id="organization" value="{{user.organization}}" data-rule-required="true" data-rule-content="true" data-msg-required="请输入学校或单位" />
                    </div>
            </div>


            <div class="ui-grid-a">
                    <div class="ui-block-a" style="width:25%;margin-left:5%;">
                        <div class="field-label-inner-div">所&nbsp;在&nbsp;地</div>
                    </div>
                    <div class="ui-block-b" style="width:65%;margin-right:5%;">
                        <input type="text" name="address" id="address" value="{{user.address.city}}" data-rule-required="true" data-rule-content="true" data-msg-required="请输入所在地" />
                    </div>
            </div>



            <div class="ui-grid-solo" style="clear:both;margin-top:20px;padding:5px 5% 5px 5%;background-color:#d1cfd1;">
                自我介绍
            </div>

            <div class="ui-grid-solo" style="padding-top:10px;margin-left:5%;margin-right:5%;height: 150px !important;">
                <div class="ui-block-a">
                    <span id="lengthCounter" class="text-p" style="float:right">0/3000</span>
                </div>
                <div class="ui-block-a">
                    <textarea type="text" name="description" id="description" value="{{user.description}}" maxlength="3000" placeholder="自我介绍">
                    {{user.description}}
                    </textarea>
                </div>
            </div>



            <div class="ui-grid-solo" style="clear:both;margin-top:20px;padding:5px 5% 5px 5%;background-color:#d1cfd1;">
                详细信息
            </div>

            <div class="ui-grid-a">
                    <div class="ui-block-a" style="width:25%;margin-left:5%;">
                        <div class="field-label-inner-div">性&nbsp;&nbsp;&nbsp;&nbsp;别</div>
                    </div>
                    <div class="ui-block-b" style="width:65%;margin-right:5%;">
                        <fieldset class="ui-field-contain">
                            <select name="gender" id="gender">
                              <option value="3">男</option>
                              <option value="2">女</option>
                            </select>
                        </fieldset>                    
                    </div>
            </div>

            <div class="ui-grid-a">
                    <div class="ui-block-a" style="width:25%;margin-left:5%;">
                        <div class="field-label-inner-div">年&nbsp;&nbsp;&nbsp;&nbsp;龄</div>
                    </div>
                    <div class="ui-block-b" style="width:65%;margin-right:5%;">
                        <input type="text" name="age" id="age" value="{{user.age}}" placeholder="请输入您的年龄"/>
                    </div>
            </div>

            <div class="ui-grid-a">
                    <div class="ui-block-a" style="width:25%;margin-left:5%;">
                        <div class="field-label-inner-div">手&nbsp;&nbsp;&nbsp;&nbsp;机</div>
                    </div>
                    <div class="ui-block-b" style="width:65%;margin-right:5%;">
                        <input type="text" name="mobile_phone" id="mobile_phone" value="{{user.mobile_phone}}" data-rule-required="true" data-rule-content="true" data-msg-required="请输入手机号码" />
                    </div>
            </div>
        </form>
        </div>

        <div data-role="footer" data-position="fixed">
            <div class="ui-grid-d" style="background-color: rgb(35,192,148);">
                <div class="ui-block-a">
                    <a href="/">
                        <img height="30" width="35" style="padding:10px 5px 5px 10px;" src='/static/images/navigation/homepage.png' />
                    </a>
                </div>
                <div class="ui-block-b">
                    <a href="/buy/form/">
                        <img height="55" width="55" src='/static/images/navigation/buy_form.png' />
                    </a>
                </div>
                <div class="ui-block-c">
                    <a href="/sell/form/">
                        <img height="55" width="55" src='/static/images/navigation/sell_form.png' />
                    </a>
                </div>
                <div class="ui-block-d">
                    <a href="/buy/all_list/">
                        <img height="55" width="55" src='/static/images/navigation/buy_posts.png' />
                    </a>
                </div>
                <div class="ui-block-e">
                    <a href="/sell/all_list/">
                        <img height="55" width="55" src='/static/images/navigation/sell_posts.png' />
                    </a>
                </div>
            </div>
        </div>

    </div>
</body>

</html>
