<!DOCTYPE HTML>
<html lang="zh">

{% include "head.html" with title="修改资料" %}

<body>
<div data-role="page" id="user-update-page" data-fullscreen="true">
    {% include "header.html" with title="修改资料" %}
    <div data-role="content">
        
    <form action="/user/{{user.id}}/update/" method="post" enctype="multipart/form-data" data-ajax= "false">
        {% csrf_token %}
        {% if user_image %}
        <div class="user-image-box">
            <img class="user-image" src="{{user_image.image_url}}"/>
            <input type="file" data-role="none" class="gallery-uploader-input" style="position:absolute;top:0;" name="post_image" accept="image/*" />
        </div>
        {% endif %}
        
        <input type="hidden" id="image_url" name="image_url">
        <input type="hidden" id="image_width" name="image_width">
        <input type="hidden" id="image_height" name="image_height">
        <input type="hidden" id="image_orientation" name="image_orientation" />

        <div class="user-name" style="width:50%;"><input type="text" name="name" id="name" value="{{user.name}}" placeholder="请输入用户名" data-rule-required="true" data-rule-content="true" data-msg-required="请输入用户名" /></div>
        
        {% include "mine/profile.html" with user=user edit=1 %}

        {% if is_owner %}
        <button class="submit-button" type="submit" id="submit_btn">提 交</button>
        {% endif %}

        <div id="error">{% if error %}<p>{{error}}</p>{% endif %}</div>
    </form>
    </div>
    {% include "footer.html" %}
</div>
<iframe class="refresh-title" style="display:none;" src="/about/"></iframe>
</body>

</html>
