<!DOCTYPE HTML>
<html lang="zh">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <!-- jquery library -->
    <script type="text/javascript" src="/static/jquery/jquery-1.8.3.js "></script>
    <script type="text/javascript" src="/static/jquery/jquery.mobile-1.4.2.js"></script>
    <script type="text/javascript" src="/static/jquery/jquery.validate.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/jquery/jquery.mobile-1.4.2.css">
    <link rel="stylesheet" type="text/css" href="/static/jquery/beike-themes/beike-theme.css">
    <link rel="stylesheet" type="text/css" href="/static/jquery/beike-themes/jquery.mobile.icons.min.css">

    <link rel="stylesheet" type="text/css" href="/static/jQMProgressBar.css">
    <script type="text/javascript" src="/static/jQMProgressBar.js"></script>

    <script type="text/javascript" src="/static/exif.js"></script>
    <script type="text/javascript" src="/static/binaryajax.js"></script>

    <!-- beike customized css and js -->
    <link rel="stylesheet" href="/static/common.css">
    <link rel="stylesheet" href="/static/detail.css">
    <link rel="stylesheet" href="/static/sell.css">
    <link rel="stylesheet" href="/static/mine.css">
    <script src="/static/jquery.fileupload.js"></script>
    <script src="/static/jquery.touchSwipe.min.js"></script>
    <script src="/static/common.js"></script>
    <script src="/static/buy_form.js"></script>
    <script src="/static/buy_posts.js"></script>
    <script src="/static/sell_form.js"></script>
    <script src="/static/sell_posts.js"></script>
    <title>千贝科技</title>
</head>

<body>
    <div data-role="page" id="main-page" data-theme="a">
        <link rel="stylesheet" type="text/css" href="/static/me.css">
        <div data-role="header" data-position="fixed">
        </div>
        <div data-role="content">
            <div id="current_image_div">
                {% if user_image %}
                <div style="display:table;margin:0 auto;">
                        <img id='profile_image' src='{{user_image.image_url}}' style="width: 80px;height:80px;border-radius: 50%;"/>
                </div>
                {% endif %}
            </div>

            <div style="text-align:center;padding:2px;">
                <p style="display:inline;vertical-align:middle;font:20px arial,sans-serif;">{{user.name}}</p>
            </div>

            <div class="ui-grid-solo" style="clear:both;margin-top:20px;padding:5px 5% 5px 5%;background-color:#d1cfd1;">
                基本资料
            </div>

            <div class="ui-grid-a" style="width:100%;height:40px;">
                <div class="ui-block-a" style="width:30%;height:100%;">
                    <div class="field-label-inner-div">邮&nbsp;&nbsp;&nbsp;&nbsp;箱</div>
                </div>
                <div class="ui-block-b" style="width:70%;height:100%;padding-top:15px;">
                    {{user.email}}
                </div>
            </div>

            <div class="ui-grid-a" style="width:100%;height:40px;">
                <div class="ui-block-a" style="width:30%;height:100%;">
                    <div class="field-label-inner-div">学校/单位</div>
                </div>
                <div class="ui-block-b" style="width:70%;height:100%;padding-top:15px;">
                    {% if user.organization %}
                        {{user.organization}}
                    {% else %}
                        未填
                    {% endif %}
                </div>
            </div>

            <div class="ui-grid-a" style="width:100%;height:40px;">
                <div class="ui-block-a" style="width:30%;height:100%;">
                    <div class="field-label-inner-div">所&nbsp;在&nbsp;地</div>
                </div>
                <div class="ui-block-b" style="width:70%;height:100%;padding-top:15px;">
                    {{user.address.city}}
                </div>
            </div>


            <div class="ui-grid-solo" style="clear:both;margin-top:20px;padding:5px 5% 5px 5%;background-color:#d1cfd1;">
                自我介绍
            </div>

            <div class="ui-grid-solo" style="padding-top:10px;">
                 {% if user.description %}
                    {{user.description}}
                {% else %}
                    未填
                {% endif %}
            </div>



            <div class="ui-grid-solo" style="clear:both;margin-top:20px;padding:5px 5% 5px 5%;background-color:#d1cfd1;">
                详细信息
            </div>

            <div class="ui-grid-a" style="width:100%;height:40px;">
                <div class="ui-block-a" style="width:30%;height:100%;">
                    <div class="field-label-inner-div">性&nbsp;&nbsp;&nbsp;&nbsp;别</div>
                </div>
                <div class="ui-block-b" style="width:70%;height:100%;padding-top:15px;">
                    {% if user.gender %}
                        {{user.gender}}
                    {% else %}
                        未填
                    {% endif %}
                </div>
            </div>

            <div class="ui-grid-a" style="width:100%;height:40px;">
                <div class="ui-block-a" style="width:30%;height:100%;">
                    <div class="field-label-inner-div">年&nbsp;&nbsp;&nbsp;&nbsp;龄</div>
                </div>
                <div class="ui-block-b" style="width:70%;height:100%;padding-top:15px;">
                    {% if user.age %}
                        {{user.age}}
                    {% else %}
                        未填
                    {% endif %}
                </div>
            </div>

            <div class="ui-grid-a" style="width:100%;height:40px;">
                <div class="ui-block-a" style="width:30%;height:100%;">
                    <div class="field-label-inner-div">手&nbsp;&nbsp;&nbsp;&nbsp;机</div>
                </div>
                <div class="ui-block-b" style="width:70%;height:100%;padding-top:15px;">
                    {% if user.mobile_phone %}
                        {{user.mobile_phone}}
                    {% else %}
                        未填
                    {% endif %}
                </div>
            </div>

            {% if is_owner %}
                <!-- find this post about how to align an element vertically center in a div: http://stackoverflow.com/questions/7273338/how-to-vertically-align-an-image-inside-div-->
                <div class="ui-grid-solo" style="width:100%;padding-top:15px;padding-bottom:15px;background-color:#d1cfd1;height:60px;text-align:center;display:inline-block;vertical-align: middle;">
                    <span class="helper" style="display:inline-block;height:100%;vertical-align: middle;"></span>
                    <a href="/user/{{user.id}}/edit/"><input type="image" value="修改" id="edit_btn" src="/static/images/detail/edit.png" style="max-width:80px;vertical-align: middle;"></a>
                </div>
            {% endif %}

            <div id="error">
                {% if error %}
                <p>{{error}}</p>
                {% endif %}
            </div>

        </div>

        <div data-role="footer" data-position="fixed">
            <div class="ui-grid-d" style="background-color: rgb(35,192,148);">
                <div class="ui-block-a">
                    <a href="/">
                        <img height="28" width="30" style="padding:10px 5px 5px 10px;" src='/static/images/navigation/homepage.png' />
                    </a>
                </div>
                <div class="ui-block-b">
                    <a href="/buy/form/">
                        <img height="50" width="50" src='/static/images/navigation/buy_form.png' />
                    </a>
                </div>
                <div class="ui-block-c">
                    <a href="/sell/form/">
                        <img height="50" width="50" src='/static/images/navigation/sell_form.png' />
                    </a>
                </div>
                <div class="ui-block-d">
                    <a href="/buy/all_list/">
                        <img height="50" width="50" src='/static/images/navigation/buy_posts.png' />
                    </a>
                </div>
                <div class="ui-block-e">
                    <a href="/sell/all_list/">
                        <img height="50" width="50" src='/static/images/navigation/sell_posts.png' />
                    </a>
                </div>
            </div>
        </div>

    </div>
</body>

</html>
